[2015-01-25 18:48] ppanyukov opened #2 "The ISerializer needs to be binary, not text-based"
The existing ISerializer interface serializes form object to string, and deseralizes from string to object.

This basically prevents form using any serializer which do not produce strings, e.g. binary serializers (BinaryFormatter, protobufs etc).  After all, not everyone wants to store their objects as JSON in Redis.

More than that, Redis does require binary values (byte[]), and StackExchange.Red

[2015-01-25 22:13] imperugo commented on #2
Hi @ppanyukov
It makes sense to change from string to byte[]. In this case is easier also create a BinaryFormatter.

Tomorrow I'll clone you repo, run the tests, merge the PR and release a new version on NuGet

Thanks.

[2015-01-26 18:38] #2 closed

[2015-03-19 13:54] SlawekN opened #5 "Reference specific Redis database"
Hi, Congrats on the great work!
Currently StackExchangeRedisCacheClient constructor always gets database with index '0' from ConnectionMultiplexer, as:
this.db = connectionMultiplexer.GetDatabase(0, (object) null);
Do you plan adding a possibility to handle other databases than the default one?

[2015-03-20 13:04] imperugo commented on #5
Hi @snaborcz
I already did it, need to test and push it on github/nuget.
Hope to find some extra time soon to complete that

Thx

[2015-03-20 13:55] snaborcz commented on #5
Looking forward to it! Thx!

[2015-03-21 07:02] rajasekarshanmugam commented on #5
OOPS, didn't notice this, just triggered a pull request.

[2015-03-23 12:41] code-chimp commented on #5
Also looking forward to this feature, Thanks!

[2015-03-23 13:49] imperugo commented on #5
Pushed on Nuget.
Now you can use the specific overload or use the configuration file

[code]

[2015-03-23 13:50] #5 closed

[2015-06-09 19:16] alana1 opened #9 "Will the current version work with latest StackExchange.Redis version"
Will the current version work with latest StackExchange.Redis 1.0.450 version?

[2015-06-09 19:49] imperugo commented on #9
I need to update the package and release a new version on Nuget.
I'll do tomorrow

[2015-06-10 07:32] imperugo commented on #9
Up updated and pushed on nuget.

Thx
.u

[2015-06-10 07:32] #9 closed

[2015-06-12 18:16] rushfrisby opened #12 "Azure config / password"
How are you specifying the Azure access keys / password when using the config? I don't see a property for it so I tried to append ",password=blah" to the host address but that didn't work. I think you can only do  that when you are specifying the connection string as a whole.

[2015-06-12 18:39] rushfrisby commented on #12
I tried adding it in my fork first and it worked so I submitted PR #13 to bring it into the master branch.

[2015-06-13 13:17] himarpan opened #14 "AddAll method always throwing exception "{"ERR unknown command 'EVAL'"}""
"AddAll" and "GetAll" methods always throwing exception "{"ERR unknown command 'EVAL'"}" for the following code
        IList<Tuple<string, string>> values = new List<Tuple<string, string>>();

                values.Add(new Tuple<string, string>("mykey1", "value1"));
                values.Add(new Tuple<string, string>("mykey2", "value2"));
                values.Add(new Tuple<string, string>("my

[2015-06-15 08:50] imperugo commented on #14
mmmm

What happens if you run this test

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/tests/StackExchange.Redis.Extensions.Tests/CacheClientTestBase.cs#L69-L87

it works here

[2015-06-15 10:27] himarpan commented on #14
Same error {"ERR unknown command 'EVAL'"}.
cacheClient.SearchKeys("client*") works fine.

[2015-06-15 10:57] himarpan commented on #14
Can you please send me your masked Redis Server connection string. All other commands are working except AddAll, GetAll and RemoveAll. cacheClient.SearchKeys("client*") works fine.

[2015-06-16 04:39] madsrode opened #15 "StackOverflow when serializing a class with a property to own class through JilSerializer"
This is the test that can reproduce it, can you also get it?

        [Fact]
        public void TestRecursive()
        {
            var works = JSON.Serialize(new RecursiveClass());
            var dontwork = (new JilSerializer()).Serialize(new RecursiveClass());
        }

        public class RecursiveClass
        {
            public int Id { get; set; }
            public RecursiveClass Pa

[2015-06-16 04:45] rushfrisby commented on #15
Jil doesn't have a way to handle recursion. See https://github.com/kevin-montrose/Jil/issues/107

[2015-06-16 04:48] madsrode commented on #15
That explains it, still a bit confused that the first line works but the second don't.

[2015-06-16 04:48] #15 closed

[2015-06-16 11:32] imperugo commented on #14
Which version of Redis are you using?

[2015-06-16 11:32] imperugo commented on #12
Thanks, I'll merge and push on nuget tonight

[2015-06-16 11:59] himarpan commented on #14
redis_version:2.4.6

in AddAll following command is throwing this exception:
var redisResults = db.ScriptEvaluate(sb, redisKeys, redisValues);
sb = "return redis.call('mset',KEYS[1],ARGV[1],KEYS[2],ARGV[2],KEYS[3],ARGV[3])"

[2015-06-16 12:27] imperugo commented on #14
Can't replicate it here with 2.8.17.
looking the documentation [here](http://redis.io/commands/MSET) it seems the command is available since 1.0.1.

Could you try to run the unit test with the 2.8.17?
Just for a double check.

Thx

[2015-06-16 12:48] imperugo commented on #12
Merged and pushed on nuget.

Thx

[2015-06-16 12:48] #12 closed

[2015-06-16 12:54] himarpan commented on #14
yes I am now using Redis 2.8.19 and it works like a charm. Thanks a lot.

[2015-06-16 12:54] imperugo commented on #14
ok, so it's a version problem.
Probably the old version has a different syntax

[2015-06-16 12:54] #14 closed

[2015-06-23 10:58] himarpan opened #16 "Exception when adding 150+ items using AddAll<T>"
I am following getting exception when addiing 150 items (very small set of data just key-value) using AddAll<T>.
Adding data in Cache for for the following Key-Values:  client:1 "1" client:2 "2" ............client:200 "200"

Exception has occurred: ERR Error compiling script (new function): user_script:1: function or expression too complex near '[
' .

   at StackExchange.Redis.ConnectionMultiplex

[2015-06-23 13:14] himarpan commented on #16
Same issue with GetAll<T>

[2015-06-23 13:44] rushfrisby commented on #16
I can reproduce by adding this test:

[code]

[2015-06-23 13:55] rushfrisby commented on #16
Test results:

[2015-06-23 14:03] imperugo commented on #16
Hi Guys,
thanks I'll take a look as soon as I can.

[2015-06-23 15:24] imperugo commented on #16
it's funny because with 123 items it works with 124 it doesn't.
I'm scared that there is a size limit. need a deep investigation.

[2015-06-25 09:34] himarpan commented on #16
Yes. Same here. For 123 items it works and fails for 124. I have doubled --maxheap and tried different serializers but still same issue is surfacing.

[2015-06-25 09:48] imperugo commented on #16
I wanna try with bigger values (really complex complex object).
So I can understand if the problem is related to the lenght of the string or the number of items.
Maybe there is a setting to increase 123 items for each batch

[2015-06-25 15:02] rushfrisby commented on #16
Why is AddAll creating a Lua script and not depending on StackExchange.Redis? If I make this change I can insert 200 items without an error. Example:

[code]

[2015-06-25 15:11] imperugo commented on #16
Good question!!!!
Sincerely I don't remember maybe it was available when I created it or I didn't see it. In any case I'll add this asap (if I can tonight)

[2015-06-26 07:38] imperugo commented on #16
Looking better your code you are not sending all request in a single roundtrip, but you are doing several async requests.
That's a different approach.

[2015-06-26 11:28] rushfrisby commented on #16
This is recommended over batching from the author. See http://stackoverflow.com/questions/27796054/pipelining-vs-batching-in-stackexchange-redis

[2015-06-29 10:36] imperugo commented on #16
I'm pretty sure you have similar performance but there is another important point over the performance, the number of thread used.
In a web application (asp.net) there is a "closed" number of available threads (looking [here](https://msdn.microsoft.com/en-us/library/7w2sway1(v=VS.100).aspx) seems the value is 20/CPU and you can change it).

What happens if you open 150 threads only for redis from

[2015-07-04 09:21] himarpan commented on #16
Any help here. Still looking for solution. Why AddAll & GetAll not working for over 123 items...?

[2015-07-09 14:26] wiciul opened #17 "StackExchangeRedisCacheClient IEnumerable<string> SearchKeys(string pattern) is limited to db 0"
var dbKeys = db.Multiplexer.GetServer(endpoint).Keys(pattern: pattern);
so it is limited to int database = 0

[2015-07-14 08:18] imperugo commented on #17
You sure about that?
looking [here](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L593) the code is using the current istance of the ```db``` that is initialized into the constructor.

You should change with the right constructor (if you don't send the database id 0 is the default value)

[2015-07-14 12:37] rutra0002 commented on #17
The code you linked calls Keys method of RedisServer class which uses "database" parametr so no chance to use "Database" value of "db" object.

I hade to change the code in this way to make it work:
var dbKeys = db.Multiplexer.GetServer(endpoint).Keys(database: db.Database, pattern: pattern);

Wthout this change always keys retrived from database = 0.

[2015-07-24 19:19] vyrotek commented on #16
Has this been resolved?

[2015-08-11 21:02] trbenning opened #19 "How can I get SetAdd to work?"
You're passing the value of "memberName" to the "key" parameter in IDatabase.SetAdd(), and the value of "key" to the "value" parameter of IDatabase.SetAdd(). Also, it's unclear what value to use for "memberName" even if it were in the right position since your other methods use a parameter of type T where a RedisValue parameter is expected.

[2015-08-11 21:24] trbenning commented on #19
With a little more effort, I've got it to work by using my key for the "memberName" parameter, and a Json serialized string of my object for the "key" parameter.

I still believe that the parameters should be reordered and renamed. It would also be nice if SetAdd & SetAddAsync had generic signatures and didn't require upfront serialization of the value.

[2015-08-24 13:22] mgravell opened #20 "Possibly broken Lua generation"
See: http://stackoverflow.com/q/32181385/23354

In particular, note that it is not necessary to use Lua here at all, since varadic methods are included on the regular API.

[2015-08-25 02:19] rushfrisby commented on #20
Possible fix #21

[2015-08-26 15:06] flowdopip opened #22 "Thread Lock with about 150 request to the same key GetAsync<List<T>>"
I,

Im having some issue when test my webapi, some endpoint stays on IIS with state "MapRequestHandler" when call it about 150 request!

If i deactivate GZIP it work but with GZip doesnt work!
MessageHandlers.Insert(0, new ServerCompressionHandler(new GZipCompressor(), new DeflateCompressor()));

I´ve tried NewtonsoftSerializer and Protobuf

[2015-08-28 19:55] imperugo commented on #17
fixed.
Soon on nuget

[2015-08-28 19:57] imperugo commented on #22
Hi,
does it happen also for not cached items?
You sure the problem happens only if the response comes from Redis?

[2015-08-28 19:57] imperugo commented on #20
I think @rushfrisby sent a PR about this.
I just merged it, soon on nuget

[2015-08-28 20:14] imperugo commented on #16
I think I fixed it, soon on github and nuget.
Let me know

[2015-08-28 20:15] #20 closed

[2015-08-28 20:25] imperugo commented on #17
On nuget now https://www.nuget.org/packages/StackExchange.Redis.Extensions.Core/1.1.13

[2015-08-28 20:25] #17 closed

[2015-08-28 20:25] imperugo commented on #16
On nuget now https://www.nuget.org/packages/StackExchange.Redis.Extensions.Core/1.1.13

[2015-08-28 20:25] #16 closed

[2015-08-31 06:54] varghesevv opened #23 "Serialization thread safety"
Hi,

Is serializer implementation is thread safe?

Thanks,

[2015-08-31 13:22] flowdopip commented on #22
Yes!
If remove redis from the code it works

[2015-09-01 19:02] rushfrisby commented on #23
Yes the core and all serializers are thread safe.

[2015-09-06 21:06] jovball opened #29 "How to handle structs such as int and DateTimes?"
I would think that structs such as Int32 and DateTime values would be common types for working with Redis but I can't use them with this library. All of the methods have a restriction "where T : class." How are you expecting developers to add a value with those data types?

The type 'int' must be a reference type in order to use it as parameter 'T' in the generic type or method 'StackExchange.Redi

[2015-09-13 13:24] imperugo commented on #29
Hi @jovball
need to check about the constraint. Sincerely I don't remember why I put it :), need to check

[2015-09-13 13:24] imperugo commented on #23
Yep, absolutely!

[2015-09-13 13:24] #23 closed

[2015-09-13 13:25] imperugo commented on #22
Could you send a repro?

[2015-09-18 15:52] Schenz opened #30 "StackExchange.Redis.StrongName"
I have run into a problem because I need to use another package that requires the StackExchange.Redis.StrongName package, and you are using the StackExchange.Redis package.

How should I resolve this?  Clone your repository and update to use the StrongName library? I'd rather avoid this approach...

[2015-09-18 16:36] imperugo commented on #30
Hi,
the strongname package is deprecated because all child library must be signed (al serializer like Json.net).
I suggest you to switch to the other library

[2015-09-18 16:38] imperugo commented on #22
moreover did u test it with the latest version of the package?

[2015-09-18 16:40] Schenz commented on #30
unfortunately, it is not my package referencing the strong name package, but Microsoft ASP.NET SignalR Redis.  Looks like they have a beta version out there where the remove the strong name reference and use the other instead.  I also found a work around where you change the Aliases for the Strong Name library in VS and it takes care of the collisions.

[2015-09-30 01:48] jovball commented on #29
any update on this?

[2015-09-30 11:50] imperugo commented on #29
I'm watching it now and I think the constraint is related to the method JsonConvert.DeserializeObject<T> of Newtoson who requires a reference type.

Need to understand how the other serializers works and check if I can enable value type without introduce breaking changes

[2015-09-30 12:07] imperugo commented on #29
I think the easier way to do that is encapsulate the cache value into an internal class, something like

[code]

and return only the CachedValue

[2015-09-30 13:00] imperugo commented on #29
I think I've fixed this

https://github.com/imperugo/StackExchange.Redis.Extensions/commit/426a91a8d0a7e8baa7d7fef6155b8af4ff86acc6

Could you clone the repo and check if everything is ok?

[2015-09-30 13:01] imperugo commented on #22
Did u test the lasted version from NuGet?
Can I close this issue?

[2015-10-07 11:48] ssvinayram opened #31 "error StackExchange.RRedis.RedisCache"
Hi, I am getting the error StackExchange.RRedis.RedisCache as given below .What will be the reason ?please note that the below two reference are mandatory in both layers.

Compiler Error Message: CS0433: The type 'StackExchange.Redis.RedisCache' exists in both 'c:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET Files\root\905ba337\869e4911\assembly\dl3\012624dd\5f2a6f1c_f300d101\SPW

[2015-10-07 15:33] rushfrisby commented on #31
I don't think this is related specifically to StackExchange.Redis.Extensions but a general problem of compiling ASP.NET website projects. Can you try the [solution found in this SO answer](http://stackoverflow.com/questions/371426/asp-net-error-the-type-foo-exists-in-both-temp1-dll-and-temp2-dll)?

[2015-10-12 17:30] birarich opened #32 "Need Strong name assembly"
Whenever I'm using StackExchange.Redis.Extensions.core in my project, it throws error as "Assembly generation failed -- Referenced assembly 'StackExchange.Redis.Extensions.Core' does not have a strong name".

Do we have any signed assembly?

[2015-10-14 02:49] noinhotnn opened #33 "How get multi object with one request"
Hi all,I have a question about get list object.
I tried use:
var keys = CacheClient.SearchKeys(obj.Id+ "*");
var data = CacheClient.GetAll< User >(keys);
but it seem not good. So how to get list with one request?

[2015-10-14 07:56] imperugo commented on #33
HI @noinhotnn
what's wrong with GetAll<T> Method?

[2015-10-14 07:57] imperugo commented on #32
Hi,
right now I don't have a signed assembly.
To sign the assembly all its references must be signed (Json.NET, Jil and so on) so, sorry no signed assemblies for now

[2015-10-14 07:58] imperugo commented on #31
Hi @ssvinayram
I think @rushfrisby is right, the problem seems not related to StackExchange.Redis.Extensions
Did you tried the solution above?

[2015-10-14 07:59] imperugo commented on #29
Can I close this issue?

[2015-10-14 07:59] #22 closed

[2015-10-14 08:20] noinhotnn commented on #33
HI @imperugo
Because it send two request to server. It possible process in one request? I updated object again.

[2015-10-14 08:26] imperugo commented on #33
You send two requests because you ask for the keys first and than for the objects.
To retrieve more than one object in a single request you must have the keys, so I think there ins't a way to do that only using redis.

Moreover you are using ```SearchKeys ``` that is a very slow method as explained in the method comment here:

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/

[2015-10-14 09:51] noinhotnn commented on #33
Hi @imperugo
Thanks for response! I use SearchKeys only load or when list keys change and result is bester.

[2015-10-14 14:48] imperugo commented on #33
Ok, but is slow and you have several requests

[2015-10-20 09:59] #29 closed

[2015-10-20 23:35] Simon-Wilson opened #34 "Am I using database partitioning correctly?"
I am having an issue with StackExchangeRedisCacheClient and the database it is querying.

I will summarize here, but I can email a sample app to anybody who is interested, I can't add a text or zip file to this question.

I have a config section as such in my app.config, (I have also tried with a straight connection string and specifying the database in the constructor):
redisCacheClient allowAdmi

[2015-10-20 23:56] Simon-Wilson commented on #34
Sorry. Saw this after asking. https://github.com/imperugo/StackExchange.Redis.Extensions/issues/17
I will ensure I reference the latest package. My apologies.

[2015-10-21 08:48] imperugo commented on #34
Hi @Simon-Wilson
let me know if you have this issue using the latest package, otherwise could you share here (or a PR if you prefer) a unit test to reproduce the problem?

Thx

[2015-11-03 20:51] jackmott opened #35 "MsgPack serializer error leads to hang on Add()"
I was calling .Add on a cache client with a simple object, and it would just hang. No error. Eventually found that if I tried to use the MsgPack serializer on the object, it would fail with an error due to there being no default constructor.  Once I added the default constructor, .Add worked.  Don't see why this would happen from looking at the source. It should be an exception that bubbles up yes

[2015-11-04 05:50] jackmott commented on #35
Tracked this down to be due to messed up visual studio settings, disregard

[2015-11-04 05:50] #35 closed

[2015-11-12 14:29] manjitsiwach opened #36 "Could not install package 'StackExchange.Redis.Extensions.Core 1.1.12.0'"
I am trying to install its extension but getting this error Install-Package : Could not install package 'StackExchange.Redis.Extensions.Core 1.1.12.0'. You are trying to install this package into a project that targets '.NETFramewor k,Version=v4.0', but the package does not contain any assembly references or content files that are compatible with that framework.

[2015-11-12 14:39] rushfrisby commented on #36
The nuspec file should probably be updated to reflect compatibility with right framework. Right now it targets .NET 4.5.

On a related note, I would think about upgrading to a newer version of the framework. Microsoft will be [dropping support for 4.0 soon](https://support.microsoft.com/en-us/gp/framework_faq):

[2015-11-12 14:55] manjitsiwach commented on #36
Can you please tell me what the latest stable version for StackExchange.Redis.Extensions.MsgPack that i can have for .Net 4.0.?

[2015-11-13 07:12] #36 closed

[2015-11-21 15:25] imperugo opened #37 "Move the project to CoreCLR"
Looking [here](!https://twitter.com/marcgravell/status/667749092961992704)

<img width="659" alt="screen shot 2015-11-21 at 16 24 57" src="https://cloud.githubusercontent.com/assets/758620/11319126/6f73f76e-906c-11e5-9827-f4af59593ebb.png">

It's time to move this project to CoreCLR

[2015-11-21 15:27] imperugo commented on #30
Oh ok, I know that SignalR is signed but it's too complicate maintain this project with a strongly type version.

Sorry

[2015-11-21 15:27] #30 closed

[2015-11-21 15:27] imperugo commented on #31
Can I close this issue?

[2015-11-21 15:28] imperugo commented on #32
Duplicated #30

[2015-11-21 15:28] #32 closed

[2015-11-21 15:28] imperugo commented on #33
Can I close this issue?

[2015-11-21 15:29] imperugo commented on #34
Any news here?

[2015-11-21 15:38] Simon-Wilson commented on #34
@imperugo Latest package resolved my issue. Thanks

[2015-11-21 15:38] #34 closed

[2015-11-21 17:41] rushfrisby commented on #37
Nice!

[2015-11-23 11:08] EugeneKrapivin opened #38 "NuGet package containing the latest changes"
Are there any plans to release a NuGet package containing the latest changes, specifically the wrapper for ValueTypes?

[2015-11-25 11:05] imperugo commented on #38
It is already on nuget

[2015-11-25 12:39] EugeneKrapivin commented on #38
The current [nuget](https://www.nuget.org/packages/StackExchange.Redis.Extensions.Core/) is version 1.1.13 built on 28th of August.
The ValueType [changeset](https://github.com/imperugo/StackExchange.Redis.Extensions/commit/426a91a8d0a7e8baa7d7fef6155b8af4ff86acc6) is from the 30th of September, it could not be in the package..

[2015-11-25 13:56] imperugo commented on #38
oh damn, I was pretty sure it was ok.
I'm integrating appveyor as CI, I've to try it to push on NuGet (never did till now).

Soon news

[2015-11-25 13:58] EugeneKrapivin commented on #38
no problem mate.

I've forked you and built it locally.
I've also added methods for working with hashes for all hash commands except string length, and will be requesting a pull any day now :)

[2015-11-25 13:59] imperugo commented on #38
that's pretty cool!

[2015-11-25 16:36] imperugo commented on #19
Done, soon on nuget

[2015-11-25 16:36] #19 closed

[2015-11-25 16:57] imperugo commented on #38
Now available on nuget

[2015-11-25 16:57] #38 closed

[2015-11-25 16:57] #33 closed

[2015-11-25 16:57] #31 closed

[2015-11-26 06:58] manjitsiwach opened #39 "Exception"
I am working on redis from last two week..everything was fine but now i am getting this exception

System.Web.Services.Protocols.SoapException: Server was unable to process request. ---> StackExchange.Redis.RedisConnectionException: It was not possible to connect to the redis server(s); to create a disconnected multiplexer, disable AbortOnConnectFail. MISCONF Redis is configured to save RDB snapsh

[2015-11-26 09:25] imperugo commented on #39
Hi @manjitsiwach
as you can see from the stack the error is not on my code, so there's anything I can do for that.
It seems related to https://github.com/StackExchange/StackExchange.Redis try to open the issue [here](https://github.com/StackExchange/StackExchange.Redis/issues).

Looking the exception it seems there are a network problem, in fact the message says "**It was not possible to connect t

[2015-11-30 06:33] manjitsiwach commented on #39
Yes you are right.Its network related issue.

Thanks
Manjit kumar

[2015-11-30 06:33] #39 closed

[2015-11-30 12:03] mortenmercell opened #41 "Mark assembly as CLS compliant"
Add [assembly: CLSCompliant(true)] to AssemblyInfo.cs

[2015-12-07 04:03] JonCubed opened #42 "Support .NET 4"
Any chance this can support .NET like SE-Redis does?

[2015-12-07 14:09] Rogn commented on #29
First I would like to say, great job with this library.
The issue I have with this change, is that it changes how the data gets stored in redis and I just spent quite some time tracking down a bug related to it :(. Not all our consumers of the cache are using this library and now can't read the data correctly as it is gets wrapped into a CachedValue object.
I just looked at the JsonConvert.Deseria

[2015-12-07 17:39] rushfrisby commented on #37
Not all of the serializers support CoreCLR yet. I'll try and track the status here:

Json.Net - [Yes](http://james.newtonking.com/archive/2014/10/24/json-net-6-0-release-6-asp-net-coreclr-support-memory-usage-optimizations)
Jil - [In progress](https://github.com/kevin-montrose/Jil/issues/183)
Protobuf-net - [In progress](https://github.com/mgravell/protobuf-net/issues/108)
MsgPack - [No](https://g

[2015-12-07 18:48] rushfrisby commented on #42
Are you using .NET 4 client profile or full? What serializer are you using?

[2015-12-07 21:32] JonCubed commented on #42
Using full and Json.Net

[2015-12-07 21:33] rushfrisby commented on #42
I started updating the core to see what it would take to support .NET 4. Basically all I had to do was duplicate the project and put conditional compilation switches around the "Async" methods. Not too bad. What do you think @imperugo? Should this even be added since [.NET 4 won't be supported next month](https://support.microsoft.com/en-us/gp/framework_faq)?

[2015-12-07 21:34] rushfrisby commented on #42
Ok... at least Json.Net can do .Net 4... Jil doesn't. I think the others do though so only Jil would be 4.5 only.

[2015-12-08 01:09] JonCubed commented on #42
I didn't know about that, thanks @rushfrisby. I'll be updating to 4.5.2 instead now

[2015-12-10 06:10] manjitsiwach opened #44 "While running on localhost frequently getting this error"
System.Web.Services.Protocols.SoapException: Server was unable to process request. ---> StackExchange.Redis.RedisServerException: MISCONF Redis is configured to save RDB snapshots, but is currently not able to persist on disk. Commands that may modify the data set are disabled. Please check Redis logs for details about the error.

Plz help.
Thanks

[2015-12-10 14:03] rushfrisby commented on #44
You should post this issue on the [StackExchange.Redis](https://github.com/StackExchange/StackExchange.Redis) repository since the error is in that library.

[2015-12-18 09:34] imperugo commented on #44
Can I close this?

[2015-12-18 09:35] imperugo commented on #42
Can I close this?

[2015-12-18 09:36] imperugo commented on #37
It seems there is an alpha version available

https://www.nuget.org/packages/StackExchange.Redis/1.1.0-alpha2

[2015-12-18 11:44] JonCubed commented on #42
@imperugo I'm fine if you do

[2015-12-18 14:37] flowdopip commented on #22
Sorry, yes! I´ve testes with latest version!
I Solved the problem using Redis Client with sync methods!

[2015-12-19 07:54] #42 closed

[2016-01-03 20:10] jovball commented on #29
imperugo:

I apologize for the late response on this. I had an unexpected medical issue and was out of commission for some time. The change to the CacheValue does allow the library to work with non-reference types but the fix seems to have caused more problems than it is worth. My timings on this show a big hit in performance compared to other Redis clients. For example, I can get a DateTime value

[2016-01-27 15:42] iboware opened #47 "Redis.Extensions.Newtonsoft throws JsonSerializationException in 1.1.11"
Hi,
I have just upgraded Redis.Extensions.Core from 1.1.13 to 1.1.14 and Redis.Extensions.Newtonsoft from 1.1.10 to 1.1.11 and I started to get this error in my project:
[code]

[2016-01-27 16:00] imperugo commented on #47
I think is related to the new object container we used.
I think you can easily fix it cleaning the cache.

Let me know

[2016-02-04 20:15] EugeneKrapivin commented on #37
Any progress on this matter?

[2016-02-05 01:29] rushfrisby commented on #37
We wanted to fix the CI builds and setup pushing to nuget.org before starting CoreCLR. I won't have time for about a week or two to look into it. If you want to give it a try before then, go for it!

[2016-02-05 12:32] EugeneKrapivin commented on #37
@rushfrisby I branched my fork and began trying to port the Core lib, didn't seem friendly though. I'll check it out this weekend.

[2016-02-08 21:33] #44 closed

[2016-02-08 21:33] imperugo commented on #47
Any news?
Can I close this issue?

[2016-02-09 15:42] iboware commented on #47
Hi,
Unfortunately I couldn't clean the cache yet because of our usage scenario. It requires a lengthy operation to restore some predefined data into cache. Since It is not so necessary to upgrade, I just downgraded the library back to 1.1.10. I will try it again, when I have more time. If this occurs after the upgrade on a clean cache, I will report it again. For now you can close it.w

Thanks.

[2016-02-15 21:45] nathvi opened #49 "Can't get simple example to work with Message Pack CLI implementation"
I have some code that looks like this:

[code]

I have the MessagePack CLI implementation installed, and I'm getting this error:

"Unable to cast object of type 'MsgPack.Serialization.EmittingSerializers.Generated.RedisSample_PersonSerializer1' to type 'StackExchange.Redis.Extensions.Core.ISerializer'."

This is thrown when this line is trying to execute:
`ISerializer serializer = (ISerializer)Ser

[2016-02-16 09:40] imperugo commented on #49
I think the problem is clear,  this ```SerializationContext.Default.GetSerializer<Person>()``` is not returning an instance of  ```ISerializer```.

Did you install MsgPack from [here](https://www.nuget.org/packages/StackExchange.Redis.Extensions.MsgPack/)?

Moreover, to use `MsgPackObjectSerializer` you have to do this

[code]

Let me know

[2016-02-22 19:20] jkruer01 opened #50 "ListGetFromRight<T> throws Exception if List is Empty"
I am building an application and using Redis lists as a queue. I run ListGetFromRight<T> to pull the next item in the queue. However, if the queue is empty, it throws an exception. Shouldn't it check to see if the object is null before trying to deserialize it and if so, just return null instead of throwing an exception?

[2016-02-22 19:25] jkruer01 opened #51 "Request for SetMembersAsync<T>"
I am using a Set in Redis to store a collection of objects that are all the same type.

Can we add a SetMembersAsync<T> method to deserialize all of the objects in a set?

Also, shouldn't the parameters to the SetMembersAsync method be string key instead of string memberName?

Finally, shouldn't the method be called SetMembersAsync instead of SetMemberAsync?

Thanks!

[2016-02-22 19:33] jkruer01 opened #52 "StructureMap with StackExchange.Redis.Extensions.Jil"
I am trying to use StructureMap for dependency injection with the StackExchange.Redis.Extensions.Jil library.

I want to use the app.config for Redis configuration like you do in the ReadMe.

I followed the ReadMe and setup StructureMap with the following:
ObjectFactory.Initialize(x =>
{
    x.For<ISerializer>().Singleton().Use<JilSerializer>();
    x.For<ICacheClient>().Singleton().Use<StackExcha

[2016-02-22 19:36] jkruer01 commented on #50
I could make the changes and issue a pull request if that would help.  Just let me know.

Thanks!

[2016-02-22 19:37] jkruer01 commented on #51
I could make the changes and issue a pull request if that would help.  Just let me know.

Thanks!

[2016-02-23 10:40] imperugo commented on #47
Hi @iboware
In this case you can create your own serializer starting from my implementation [here](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Newtonsoft/NewtonsoftSerializer.cs) removing all the `CachedObject<T> ` stuff.

Thanks
.u

[2016-02-23 10:41] #47 closed

[2016-02-23 10:41] imperugo commented on #49
Any news here?
Can I close the issue?

[2016-02-23 11:07] imperugo commented on #51
Just merged your PR, soon on nuget

[2016-02-23 11:07] #51 closed

[2016-02-23 11:07] imperugo commented on #50
Just merged your PR, soon on nuget

[2016-02-23 11:07] #50 closed

[2016-02-23 11:09] imperugo commented on #52
Never tried StructureMap but I think the problem is not related to `StackExchange.Redis.Extensions`.

Do you have a sample app to share so I can take a look?

[2016-02-23 11:39] jkruer01 commented on #52
I finally got it working, but it seems a little goofy to me.   This is what I had to add to get it to work:
_.For<IRedisCachingConfiguration>().Use<RedisCachingSectionHandler>(() => null);
                _.For<ISerializer>().Singleton().Use<JilSerializer>().SelectConstructor(() => new JilSerializer());
                _.For<ICacheClientExtended>().Singleton().Use<StackExchangeRedisCacheClientWith

[2016-02-23 11:41] jkruer01 commented on #51
Thank you

[2016-02-23 16:08] imperugo commented on #52
Ok, cool!

Thx

[2016-02-23 16:08] #52 closed

[2016-02-23 16:11] imperugo commented on #41
Hey @rushfrisby
the fix was in a PR that you removed. Any reason?
Can you send a new one?
Otherwise can I just add the `CLSCompliant(true)]` ?

Let me know

[2016-02-23 16:16] rushfrisby commented on #41
Yes that was the fix. I meant to redo the PR since I pulled out some of the other stuff I had in there that was implemented better in another PR.

[2016-02-26 03:35] jkruer01 opened #55 "Missing Interface Method"
SetMembersAsync<T> method exists in StackExchangeRedisCacheClient but the method does not exist in ICacheClient interface.

Issue has been fixed in Pull Request #54

Thanks!

[2016-02-26 13:46] #41 closed

[2016-02-26 14:45] #55 closed

[2016-02-28 07:23] jkruer01 opened #56 "Config section doesn't allow for multiple instances of redis running on the same server"
If you try to add multiple hosts to the config file where the host has multiple instances running on the same server but different ports you receive an error.

For example:
[code]

Throws the following error:
ConfigurationErrorsException: The entry 'MyServer' has already been added.

[2016-02-28 07:25] jkruer01 commented on #56
Pull request submitted.

[2016-02-28 19:33] #49 closed

[2016-02-28 19:33] imperugo commented on #56
Thx, I'll check it later

[2016-02-28 21:45] EugeneKrapivin commented on #37
https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/

I've tried to port the core. However I find my self lacking a lot of the needed information about the new .net core and it's structure and "best practices" that this might take a while :)

[2016-02-28 22:06] EugeneKrapivin commented on #37
Suggested configuration: (.net core has native json config files)

[code]

notice that some values like ports, and timeout are numeric values and not strings.

[2016-02-28 22:28] imperugo commented on #37
Hi @EugeneKrapivin
thanks for the job you are doing.
I know about the json configuration with .net core (finally we have something better than an xml file) and **your proposal looks ok to me**.

How is going the porting? I've some .net core project working fine in my company and, thinking about this code, should not be complicated the porting.
Isn't it?

Are you having some troubles (except MsgPac

[2016-02-28 22:42] EugeneKrapivin commented on #37
@imperugo I'm using the v3 repos, so I'm currently using RC2 for aspnet and RC3 for .net core releases.

It is a first time I actually port an existing app to .net core, so it's going side-ways for now.

I've got the CORE lib compiling, however the configuration is messed up since I didn't have much time to think for best pattern to do it.
I'm thinking about using the `IOptions` api for DI, and in

[2016-02-29 21:26] #56 closed

[2016-03-02 21:15] imperugo commented on #37
I think we don't need to use `IOption`, we could directly inject the configuration into the `StackExchangeRedisCacheClient` constructor and configure it in the same way of EntityFramework does.

Here how EF7 is working right now:

[code]

and we can do this

[code]

In this way, into `WithConfiguration`, we can do whatever we want including registering the configuration as dependency, something li

[2016-03-03 19:34] EugeneKrapivin commented on #37
@imperugo It actually does make sense. I'll work on this next week when I get back from Spain.

[2016-03-14 06:10] aishelm commented on #37
@imperugo I encountered an exception when a server becomes temporarily disconnected. I think adding the following checks wouldn't hurt and it will allow the keys from other servers to be consumed:

[code]

[2016-03-14 09:20] imperugo commented on #37
@aishelm how is this problem is related to the CoreCLR?

Finally could you open a PR for that?
Thanks

[2016-03-14 15:19] aishelm opened #58 "Proposed check for isconnect and feature support before calling Keys"
@imperugo Apologies, I unintentionaly wrote in another issue. Here it is in a new issue.

@imperugo I encountered an exception when a server becomes temporarily disconnected. I think adding the following checks wouldn't hurt and it will allow the keys from other servers to be consumed:

        /// <summary>
        ///     Searches the keys from Redis database
        /// </summary>
        /// <

[2016-03-14 15:19] aishelm commented on #37
Sorry, my bad, moved to new issue.

[2016-03-14 15:55] aishelm commented on #58
And yes I'll open a PR as soon as i get through permissions issue when submitting it.
Thanks a lot.

[2016-03-14 15:56] imperugo commented on #58
Ok, cool.

Waiting your PR.

[2016-03-14 17:56] aishelm commented on #58
PR submitted

[2016-03-15 18:58] mquintusbepc opened #60 "Open Connections"
Hi,
I'll try to give some background;
- We are using the example on your site (http://tostring.it/2015/04/23/An-easy-way-to-use-StackExchange-Redis%20copy/).

- IIS 8 with Redis 3.0.501 installed on the same server as our apps on Windows 2012. It's a virtual with 1 cpu and 4gigs ram.

- We have roughly 6 MVC apps on the server.

We have an app working and able to read/update using Redis. The probl

[2016-03-15 21:37] EugeneKrapivin commented on #60
@mquintusbepc I have some questions:
* Can you please post some code that could help recreate this behavior? (doesn't have to be from you code-base, just scribble some code that has the same effect)
* Does it happen when using a single app on the server (1 MVC app on IIS)
* Do you see exceptions in the output windows of VS while debugging the app? if so, can you provide them?
* Do you experience t

[2016-03-15 21:41] imperugo commented on #60
Moreover, are you using DI with your MVC application?
If yes what is your lifecycle are you using for `StackExchange.Redis.Extensions` and where you use it? (attributes, controllers, custom services and so on).

Does it happen also if you use [this](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L88-L1

[2016-03-16 14:11] mquintusbepc commented on #60
Hi, thanks for the response. We'll look at using the other constructor and see how that works. Right now we're using this one: public StackExchangeRedisCacheClient(ISerializer serializer, IRedisCachingConfiguration configuration = null)

Basically what we are seeing is similar to this issue: http://gigi.nullneuron.net/gigilabs/setting-up-a-connection-with-stackexchange-redis/

We were hoping that

[2016-03-16 14:26] mquintusbepc commented on #60
Also, the state of the connections is "Established".

[2016-03-16 15:54] mquintusbepc commented on #60
Well using the constructor you gave us along with the safe connection option in this page: http://gigi.nullneuron.net/gigilabs/setting-up-a-connection-with-stackexchange-redis/, we were able to get things working and limited to roughly 4 connections. Not sure what the difference really was, but just an FYI.

[2016-03-16 15:56] #60 closed

[2016-03-16 16:40] imperugo commented on #60
Interesting. Probably It is related to the connection options

[code]

That's the reason why we offers the constructor overload, to change the settings as you wish.
Maybe we can extend the configuration with more paramenters but I've to check better.
Thanks for the feedback

[2016-04-01 14:50] roberto-mardeni opened #61 "Unable to encrypt redisCacheClient configuration section"
An error occurs when attempting to encrypt redisCacheClient using a script like [Encrypt-ConfigurationSections.ps1](https://gist.github.com/roberto-mardeni/f41a5672cb50ff65d4beaf124b911abb) which works correctly for other sections:

[code]

[2016-04-04 17:06] Ricciolo opened #62 "ConnectTimeout property is ignored"
The core client StackExchangeRedisCacheClient.cs ignores the property ConnectTimeout from the configuration.

[2016-04-05 08:12] imperugo commented on #61
Hi @roberto-mardeni
unfortunately your git get me a 404 so I can't check your code but, looking the exception, it seems `StackExchange.Redis.Extensions.Core` is missing.

Are you sure all dependencies are correctly installed?

[2016-04-06 16:59] zmarty opened #63 "Which serialization method takes the least amount of space?"
Can you please add a note in the documentation about which serialization method takes the least amount of space?

[2016-04-06 17:49] roberto-mardeni commented on #61
Hi @imperugo, I updated the link to the script and I can assure you all DLLs are in the place where they need to be, I can reproduce the issue too when using **aspnet_regiis.exe** tool to encrypt the configuration section.

I also reproduced it creating an empty web application [empty-web-app-with-redis-client](https://github.com/roberto-mardeni/empty-web-app-with-redis-client). After publishing t

[2016-04-07 08:40] imperugo commented on #63
I don't know, but probably there are several comparison online.
I think the amount of space is not the right way to measure a .NET serializer, maybe the performance is also a good way to measure it (both is better).

Take a look here

- http://www.hanselman.com/blog/ProperBenchmarkingToDiagnoseAndSolveANETSerializationBottleneck.aspx

- http://maxondev.com/serialization-performance-comparison-c-ne

[2016-04-19 08:03] #63 closed

[2016-04-28 16:20] rushfrisby opened #64 "AbortOnConnectFail config setting"
The configuration section should include a setting for [AbortOnConnectFail/abortConnect](AbortOnConnectFail). This is an important setting for determining how StackExchange.Redis behaves.

[2016-05-01 12:52] imperugo commented on #64
Now on nuget

[2016-05-01 12:52] #64 closed

[2016-05-01 12:52] imperugo commented on #62
Just deployed on nuget

[2016-05-01 12:52] #62 closed

[2016-05-01 14:37] rushfrisby commented on #64
Thanks @imperugo! I was going to do it but you beat me to it!

[2016-05-01 14:54] imperugo commented on #64
Take a look. To be honest I didn't test it, but should be fine.

Let me know

[2016-05-01 22:08] mdemoret commented on #64
Thanks for doing this. I needed this by today and it seems to be working.

[2016-05-07 21:11] gortok opened #65 "SCAN supported?"
I'm having trouble finding the [SCAN command](http://redis.io/commands/scan)
 being supported in these extensions. Is it supported? If not; can you show me the general flow for adding commands to the client? I'd be happy to submit a PR, just want to make sure I'm following existing guidelines.

[2016-05-08 12:24] imperugo commented on #65
Hi @gortok
we already have the SCAN methods and you can look the implementation below

sync method:
https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L1235-L1241

async method:
https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedis

[2016-05-09 01:58] gortok commented on #65
Ah; for some reason I took those to be Hash Scan; instead of scanning for the keys in an iterable fashion. Right now I can use `keys *` but that will cause problems; so I saw their documentation where it says you can scan for the keys: http://redis.io/commands/scan and was looking for the equivalent in this library. I didn't realize Hash Scan would be it; I thought Hash Scan was equivalent to: htt

[2016-05-09 12:09] imperugo commented on #65
Probably the reason of this misunderstanding is because the method exposed by the original library is named `HashScan` and we kept it.

[2016-05-10 10:14] aishelm commented on #61
Let me give this a try.

[2016-05-10 20:11] imperugo commented on #58
Merged and deployed on nuget.

Thanks again

[2016-05-10 20:11] #58 closed

[2016-05-11 17:27] aishelm commented on #61
Found this article which refers to this issue:
http://www.dotnetnoob.com/2013/01/how-to-encrypt-custom-configuration.html

[2016-05-11 20:58] imperugo commented on #61
I never been a fan of signed packages and we don't provide it right now but it seems there are several people who are using signed assemblies (I got several requests about that) so probably we have to provide it.

At this point I've to check if all serializers (jil, newtosonft, protobuf etc) are released with the assembly signed and I've to create an automatic deploy on nuget using appveyor (becau

[2016-06-06 13:58] jkruer01 opened #68 "Is Binary Data Supported?"
Is there a way to cache binary data using this library? Specifically, I want to cache an image that is stored in our database.

If this is possible, how do I do this?

Thanks!

[2016-06-06 19:28] EugeneKrapivin commented on #68
Read the image and store it as a base64 string.
On Jun 6, 2016 16:58, "Jeremy Kruer" <notifications@github.com> wrote:

[2016-06-06 21:58] imperugo commented on #68
yeah, probably the easier way is to store it as string

[2016-06-06 23:18] rushfrisby commented on #68
I believe that json.net will serialize byte arrays as base64 so you can use that extension and not have to do it manually.

[2016-06-07 11:13] jkruer01 commented on #68
Thanks everyone! I appreciate it!

[2016-06-07 11:13] #68 closed

[2016-06-10 13:33] joshua5822 commented on #62
What commit was this exactly fixed in?

[2016-06-25 14:56] rushfrisby opened #70 "Get Pub_Sub test working in Appveyor"
I think the test can be run in appveyor with the use of semaphore. I will update it shortly.

[2016-06-26 09:20] EugeneKrapivin commented on #70
@rushfrisby Semaphore in the test? what are the symptoms of the problem?

[2016-06-26 09:23] imperugo commented on #70
We have just one thread available on appveyor so we can't open threads in the same test, otherwise the test never end

[2016-06-26 11:06] EugeneKrapivin commented on #70
@imperugo won't a semaphore just lock the thread anyway?

[2016-06-26 11:38] imperugo commented on #70
afaik

[2016-07-14 08:36] vpatel-TBA opened #72 "OBJECT IDLETIME command Supported?"
Hi,

We want to fetch idle time of the key from Redis is there any way for that?

[2016-07-20 20:57] jovball opened #73 "MsgPack exception"
It look like there was a breaking change with MsgPack v0.70. I'm OK with v0.68 but getting this exception
with the current version.

System.MissingMethodException was unhandled
  HResult=-2146233069
  Message=Method not found: 'MsgPack.Serialization.IMessagePackSingleObjectSerializer MsgPack.Serialization.MessagePackSerializer.Get(System.Type)'.
  Source=StackExchange.Redis.Extensions.MsgPack
  St

[2016-07-24 09:50] EugeneKrapivin opened #74 "Suggestion: Updating the dependency version."
Is there a necessity to change the min. version of the `StackExchange.Redis.Extensions.Core` or the  `Newtonsoft.Json` packages in the `StackExchange.Redis.Extensions.Newtonsoft` package?

I think it'll be better to keep the dependency versions as low as possible so users could update only a specific `nuget` package.
For instance I'd like to update only the `StackExchange.Redis.Extensions.Core` pa

[2016-07-24 10:04] EugeneKrapivin commented on #72
You can try `var ttl_in_ms = await _cacheClient.Database.KeyTimeToLiveAsync("ThisIsYourKey");` for time being. It is a command directly from the `StackExchange.Redis` API though as support for this feature in `StackExchange.Redis.Extensions` doesn't currently exist AFAIK.

NOTE: this request returns `Task<TimeSpan?>`

[2016-07-24 10:27] imperugo commented on #72
Does it make sense to wrap it into Stackexchange.Redis.Extensions?

[2016-07-24 11:43] EugeneKrapivin commented on #72
@imperugo I don't see to a good reason to do so, we won't be able to provide any better API IMHO, he only difference will be that he could use `var ttl = await _client.KeyTimeToLiveAsync("MyKey");` however we'd have to test this API and provide support for it in the long run.

[2016-08-02 07:02] Symfony2 opened #75 "For Web Api service or asp mvc registration"
Is it correct if we register in IOC ICacheClient as singleton accross multiple requests?

`container.Register<StackExchange.Redis.Extensions.Core.ISerializer>(
                c => new NewtonsoftSerializer())
                .AsContainerSingleton();

            container.Register<ICacheClient>(
                c => new StackExchangeRedisCacheClient(
                    c.Resolve<StackExchange.Red

[2016-08-02 08:15] imperugo commented on #75
Sounds ok to me.
I use it as singleton

[2016-08-05 02:57] hsimah opened #76 "Synchronous SetMembers function"
Currently there is only an async function to return an IEnumerable<T>. I've done this in my local work and I am happy to submit a PR if wanted.

[2016-08-10 10:25] rvlieshout opened #77 "Breaking change between 1.3.5 and 1.3.6."
I'm using the Newton (de)serializer. However by removing `CachedObject` (pull request #69) we cannot use cached values written by clients that are using 1.3.5 and below. This is not expected just looking at a simple patch version change. Please don't do this...

[2016-08-14 13:11] #75 closed

[2016-08-14 13:17] imperugo commented on #73
There are 36 tests running on MsgPack and all are green.
Can you provide a test to replicate the error?

Moreover I've just updated MsgPack (0.8.0) to the lasted version on nuget (on nuget in few hours)

[2016-08-14 13:18] imperugo commented on #77
Yeah, you are right sorry.
We should follow Semver.

[2016-08-14 13:18] #77 closed

[2016-08-14 13:19] imperugo commented on #76
Added thanks your PR

[2016-08-14 13:19] #76 closed

[2016-08-14 13:20] imperugo commented on #72
I'm closing this, please feel free to reopen it if you want to add some comments

[2016-08-14 13:20] #72 closed

[2016-08-14 13:20] imperugo commented on #70
@rushfrisby any news about that?

[2016-08-14 13:22] imperugo commented on #74
That's good idea, we should try to downgrade the dependencies and run all tests to check everything is fine

[2016-08-14 13:22] #65 closed

[2016-08-14 14:00] KenLange314 opened #79 "Where is ListRange<T>() ?"
I'm trying to store a trimmed list of serialized objects. (1000 most recent log entries)

I'm doing  ListAddToLeft<T>(listKey,newObj) and Database.ListTrim(listKey,0,maxSize) when adding log entries.

But, how should I retrieve the entire list or a segment of it and deserialize the objects?

I was hoping for a  ListGetAll<T>(listName)  or ListRange<T>(listKye,start,stop)

But I don't see anything

[2016-08-21 21:20] EugeneKrapivin commented on #37
[code]

such syntax is acceptable? I can't seem to find a normal way to do it...

[2016-08-23 09:21] imperugo commented on #37
Hi @EugeneKrapivin
I think is a good start. Can I clone your repo and test it?

[2016-08-23 16:33] EugeneKrapivin commented on #37
I've ran the tests locally on docker (btw I've changed one of the tests
regarding the OS in the info tests)
you can clone if you wish, or I could do a pull request...

On Tue, Aug 23, 2016 at 12:21 PM, Ugo Lattanzi <notifications@github.com>
wrote:

[2016-08-26 09:30] imperugo commented on #79
There isn't a way to do that right now.
We could add it in the future, in you need it soon you can open a PR.

Thx

[2016-08-26 15:38] KenLange314 commented on #79
Thanks.

I guess it's just a "nice to have".

I've ended up doing it in long form which is not a big deal:

[code]

[2016-08-26 15:38] #79 closed

[2016-09-26 12:16] imperugo commented on #73
I'm going to close this issue.
Feel free to open it again if have ore information

[2016-09-26 12:16] #73 closed

[2016-09-30 07:20] tomuxx opened #82 "StackExchange.Redis.StrongName version"
Hey, would it be possible to have two version of this Nuget package?

**StackExchange.Redis.Extensions** and **StackExchange.Redis.Extensions.StrongName**

I have a Nuget dependency in my solution that requires StackExchange.Redis.StrongName, yet your package requires StackExchange.Redis and the two cannot coexist inside the same solution due to duplicate classes and methods.

[2016-10-27 02:21] bobmanz opened #84 "No connection is available to service this operation: KEYS"
My configuration is as follows:

Master with Sentinel on machine1
Slave with Sentinel on machine2
Slave with Sentinel on machine3

Whenever I bring down one of the slaves (kill the redis-server.exe) I get this error when doing a SearchKeys on the StackExchangeRedisCacheClient class.

Is this expected?  I'm able to add/get from the cache when even just 1 is up.

Error:
{"SocketFailure on 192.168.20

[2016-10-27 10:14] imperugo commented on #84
Hi @bobmanz
could you check what you get from this line?

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L803

[2016-10-27 18:10] bobmanz commented on #84
I'll debug this evening to confirm but I Imagine it's getting all 3 of my servers and then failing down on line 811 since the stacktrace points to 'RedisServer.Keys'.

My exact steps to reproduce are:

1.  Shutting down 1 slave (Master and 1 Slave are still running)
2. Starting very simple console application that initializes StackExchangeRedisCacheClient with all 3 servers in connection string.
3

[2016-10-28 00:57] bobmanz commented on #84
Hello @imperugo,

As I suspected, line 803 gives me all 3 servers back, with the one slave I brought down showing IsConnected=false.  The library is throwing the exception on line 811 when the server that is not connected attempts to retrieve it's keys.  Below is a screenshot of my debugging.

Would an appropriate fix to be to only search on keys for servers where IsConnected==true?

![image](http

[2016-10-28 08:25] imperugo commented on #84
I don't know exactly what's the best way to manage this scenario.
From my point of view (but I could be wrong) the method should return only connected instances (2 in your case).
Probably the best way is to open an issue here https://github.com/StackExchange/StackExchange.Redis and ask why the method returns 3 instances instead of 2 and what is the best way to manage this scenario.

Does it make s

[2016-10-28 11:37] bobmanz commented on #84
It absolutely makes sense.  You may want to get all servers, connected or not, from that method.  I'll open up an issue on their end to see what they think.

Thanks @imperugo!

[2016-10-28 11:54] imperugo commented on #84
I was thinking about this and probably this problem is already discussed here.

https://github.com/imperugo/StackExchange.Redis.Extensions/pull/59

Take a look

[2016-10-28 11:59] bobmanz commented on #84
Ah interesting.  So it looks like my suggestion was implemented?

[2016-10-28 12:21] imperugo commented on #84
It was, but now is gone 😢
What's your email? I've a discussion with  Marc Gravell (the main developer of StackExchange.Redis) that explains the reason of this implementation, if you want I can forward it.

.u

[2016-10-28 12:22] bobmanz commented on #84
Was that merge taken out for a reason?  I do see the checks and breaking out of the loop in the issue you linked.

[2016-10-29 03:16] kaaann opened #85 "Error DateTimeOffset.Now.AddMinutes(10),ERR unknow command 'PSETEX'"
bool added=MyCacheClient.Add("my cahce key",user,DateTimeOffset.Now.AddMinutes(10));

ERR Unknown command 'PSETEX'

UTF-8
Please

[2016-10-29 03:43] kaaann commented on #85
Redis server version 2.4.6 (26cdd13a:0)
update version 3.2.100
IT is OK

[2016-10-29 05:18] EugeneKrapivin commented on #85
As far as I see in there documentation the command is available only since
redis version 2.6.0

http://redis.io/commands/psetex

On Oct 29, 2016 06:43, "kaaann" <notifications@github.com> wrote:

[2016-10-29 05:35] kaaann commented on #85
Right

[2016-11-02 11:56] imperugo commented on #85
So?
If the command is only available since 2.6.0 and you are using the 2.4.6 it isn't a problem with our library.

Can I close this issue?

[2016-11-02 11:57] imperugo commented on #84
@bobmanz as I wrote you I've a discussion on my email, if you want I can share this with you but you have to provide me your address.

Let me know

[2016-11-06 10:49] imperugo commented on #84
u got a mail

[2016-11-06 10:50] imperugo commented on #85
Can I close this issue?

[2016-11-06 10:51] imperugo commented on #82
Duplicated #61

[2016-11-06 10:51] #82 closed

[2016-11-07 02:27] kaaann commented on #85
Sure.THX

[2016-11-07 02:27] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:28] kaaann commented on #85
Sure.THX

[2016-11-07 02:35] kaaann commented on #85
Sure.THX

[2016-11-07 02:35] kaaann commented on #85
Sure.THX

[2016-11-07 02:35] kaaann commented on #85
Sure.THX

[2016-11-07 02:35] kaaann commented on #85
Sure.THX

[2016-11-07 02:35] kaaann commented on #85
Sure.THX

[2016-11-07 05:03] kaaann commented on #85
Sure.THX

[2016-11-07 08:46] #85 closed

[2016-11-27 17:23] imperugo commented on #84
Hey @bobmanz
is everything clear? can I close the issue?

[2016-12-01 07:50] akuryan opened #86 "One connection both for SessionState and Extensions"
Hi
I have RedisSessionStateProvider in my web.config, with following connection defined

[code]

Basing on readme in this project, I supposed that it will be enough to add following

[code]

But, I receive an error:
[code]

I do not want to specify host and password information multiple times in me web.config. Can you suggest how can I fix it?

[2016-12-01 15:07] rushfrisby commented on #86
You should remove the `RedisConnectionString` key from the `appSettings` section and instead provide the connection information in the `redisCacheClient` section like so:

[code]

[2016-12-01 15:17] rushfrisby commented on #86
If you want to only have one place in the config with your connection info I would not use `redisCacheClient` config and instead read `RedisConnectionString` from `appSettings` and format it into a connection string you can pass into the constructor of `StackExchangeRedisCacheClient`

[2016-12-02 07:17] akuryan commented on #86
Thank you for clarification

[2016-12-02 07:17] #86 closed

[2016-12-02 14:26] rushfrisby commented on #70
Haven't been able to work on this yet. I will close and reopen at a later time.

[2016-12-02 14:26] #70 closed

[2016-12-08 20:50] rushfrisby commented on #37
@EugeneKrapivin Opened your fork and tried to compile but get this error when restoring nuget packages:

How did you get it working? I think this is because Sigil 4.6.1 dependency doesn't support .NETStandard.

[2016-12-09 12:52] EugeneKrapivin commented on #37
I've been compiling the sln without this project.
if you are compiling it via the CLI you'll have to physically move this
project out from the solution hierarchy.
as far as I remember all the test were passing, excluding the JIL tests.

On Thu, Dec 8, 2016 at 10:50 PM, Rush Frisby <notifications@github.com>
wrote:

[2017-02-07 10:12] jacksonwj opened #88 "Question: Why NOT use the batch?"
In `Extensions.Core`, line 229, remove all the keys.

Is it possible to use `Batch` to delete all the specify keys? such as:

[code]

I am a newer in `StackExchange.Redis`, so if I got some wrongs, pardon me please.

[2017-02-23 15:38] brent-williams opened #89 "Support for redisCacheClient include file"
Is it possible to move the config to a separate file for sharing among multiple projects.  nlog for example support this as follows:

[code]

Is there similar functionality possible with redisCacheClient?

[2017-02-24 09:44] imperugo commented on #89
I think we.config/app.config already support this features.

Is this http://stackoverflow.com/questions/2411184/can-a-web-config-read-from-an-external-xml-file what you need?

[2017-02-27 08:56] imperugo commented on #88
Good point.
Never tried it. I'll check it out

[2017-02-27 08:58] imperugo commented on #84
Closing.
Feel free to open it again

[2017-02-27 08:58] #84 closed

[2017-02-28 07:27] msmolka opened #90 ".NET Core version on top of Microsoft.Extensions.Caching"
Hello
For .NET Core Microsoft created package Microsoft.Extensions.Caching.Redis. It contains their own simple wrapper for StackExchange.Redis.
I wonder if it would be good to make this project compatible with Microsoft.Extensions.Caching.Abstractions and IDistributedCache interface.

[2017-02-28 08:26] imperugo commented on #90
Hi @msmolka
what's the plus to do that?

[2017-02-28 09:30] msmolka commented on #90
There are already different libraries that supports caching and uses IDistributedCache as extension interface, so anybody can use cache what ever is use
Not having compatibility with IDistributedCache  makes ugliness in code. One set of methods to use with IClientCache second with IDistributedCache,
Of course one can write wrapper which supports both interfaces, but then it makes confusion how's m

[2017-03-02 07:50] bargitta opened #91 "How many TCP connection will be created to Redis Server"
Hi, I used this package and it is very friendly to use.
I have one ICacheClient instance with the life cycle of my IOC container, and I find there're many tcp connections in production to my redis server.
Can I control the number of connections? Do I need to dispose the ICacheClient explicitly? I also notice the memory grows in production and some connection errors in production.

:[No connection

[2017-04-06 08:49] lion-liu opened #92 "Extensions.Newtonsoft2.1.0 does not support framework .netStandard version1.6"
There are some wrong in my project, I don't know what the reason is ..please help me..

![image](https://cloud.githubusercontent.com/assets/1003345/24745481/76f3b7ce-1ae8-11e7-819c-a1bcd57d7f50.png)
![image](https://cloud.githubusercontent.com/assets/1003345/24745520/935f987e-1ae8-11e7-92ef-bdf5ec3273c8.png)

[2017-04-10 08:02] imperugo commented on #92
The point is that you are creating a project using `.netstandard` and right now my library doesn't support it.

I've already created a preview built on top of `.netstandard` I need to find the time to update it and run some tests

[2017-04-10 08:15] jacksonwj opened #93 "Question: How can I subscribe event when the key expired"
Sorry, I'm a newer in Redis.

I wanna subscribe event when the key expired. I've already config the "redis.conf" like below:

[code]

Then how can I use the `Subscribe<T>(channel, handler)` ?

I try to use like this:

1. Create a new Windows Service Project.

2. Put in a Timer and write some code(below) in the Timer's Elapsed event

[code]

3. Install and start the service.

But, it CANNOT work. H

[2017-04-21 00:13] rushfrisby opened #95 "Add an approval to the PR process before allowing a merge"
What the title says. Here is how to do it:

https://help.github.com/articles/enabling-required-reviews-for-pull-requests/

I can't do it because I don't have access to the repository Settings.

[2017-04-21 08:13] imperugo commented on #95
Done!

[2017-04-21 08:13] #95 closed

[2017-04-21 08:15] imperugo opened #96 ".NET Core Support"
Hi @rushfrisby
I've migrated the library to .NET Core using .NET Standard 1.5 and it works well on .NET Core of course.

The problem is I don't think I can make it compatible with .NET Framework without add tons of conditional options (#if ....).

If we want to keep both versions, probably we have to release two libraries.
What do you think?
Any suggestion?

[2017-05-02 09:09] imperugo commented on #96
@rushfrisby ping ... :-)

[2017-05-16 17:48] cbigsby opened #97 "RemoveAll() deletes cache items individually rather than all-at-once"
The implementation of `StackExchangeRedisCacheClient.RemoveAll()` [iterates over the keys](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L229) and removes them individually. This results in many calls to Redis where there could be just one. StackExchange.Redis has methods for [bulk-deleting keys in a

[2017-05-16 19:18] cbigsby commented on #97
I noticed this from some performance monitoring stating that we sent 579 DEL commands to Redis from a message handler, which was very unexpected because we thought we were using bulk-delete calls.

[2017-05-16 19:30] #97 closed

[2017-05-16 22:04] cbigsby commented on #97
@rushfrisby Do you know when a new version of this will be released to NuGet?

[2017-05-17 00:32] rushfrisby commented on #97
@imperugo pushes the nuget packages. He's usually pretty good about it. A day or two at the most.

[2017-05-20 03:14] cbigsby commented on #88
Yes, you can delete many keys in a single call to redis. I changed that in this pull request https://github.com/imperugo/StackExchange.Redis.Extensions/pull/98. It should go out when the next version is published.

[2017-05-23 20:55] rushfrisby commented on #97
@cbigsby the nuget package has been updated.

[2017-05-23 21:01] rushfrisby commented on #96
We can pack more than one dll and specify compatibility by using the target attribute.

[2017-05-23 21:07] rushfrisby commented on #96
Actually you can just drop the dll into the appropriate folder. For example this is how protobuf-net is doing it...

![image](https://cloud.githubusercontent.com/assets/574729/26376389/577b2a14-3fda-11e7-8909-561668e7b522.png)

[2017-05-23 21:09] rushfrisby commented on #96
I usually specify target in the nuspec though.

[2017-05-24 07:08] imperugo commented on #96
Hi @rushfrisby
I know I can do that (moreover with .netstandard probably we don't need this), the problem is the way the user is going to use library.

If we add support to ASP.NET Core/.NET Core we have to create a set of extensions method for the `IServiceCollection` and `IApplicationBuilder` in order to make it work (.config files doesn't exist here)

In another side, for the "old" .NET Applica

[2017-05-26 07:38] #88 closed

[2017-05-26 07:39] #89 closed

[2017-05-26 07:39] imperugo commented on #89
closing, feel free to open it again in case you need more support

[2017-07-21 21:18] akolodkin opened #101 "Conflict with Microsoft.AspNet.SignalR.Redis"
Microsoft.AspNet.SignalR.Redis is using StackExchange.Redis.StrongName instead  StackExchange.Redis.dll. Would you consider to switched to strongname in next release. this create huge problem to use both components in the same solution.

[2017-07-21 21:21] akolodkin commented on #101
I create PR #102

[2017-07-27 03:37] wuzhenda opened #103 "does ICacheClient support connection pool?"
if use ioc to create instance of ICacheClient, does it support multi-thread or need to create multi-instance?

the example seems create only  Singleton ?

                   container.Register(Component.For<ICacheClient>()
                                            .ImplementedBy<StackExchangeRedisCacheClient>()
                                            .LifestyleSingleton());

[2017-07-27 08:04] imperugo commented on #103
Hi @wuzhenda
it is singleton because it is thread-safe so you don't need to register it as transient or whatever but of course you can if you prefer.

[2017-07-27 08:08] imperugo commented on #101
Hi,
thanks for the PR.
You PR just change the library but doesn't make this library signed. Probably the best way is to duplicate the library to have different versions.
Something like this:

- StackExchange.Redis.Extensions.StrongName (using StackExchange.Redis.StrongName of course)
- StackExchange.Redis.Extensions.Newtonsoft.StrongName
- StackExchange.Redis.Extensions. Jil.StrongName
- StackExch

[2017-07-27 08:51] wuzhenda commented on #103
I tried use create pool  instead of singleton with stackexchange.redis.extentions,it seems connections become more and more.

I came from servicestack.redis yestoday to use stackexchange.redis and your extension, and today I turn back to servicestack.redis v3. It's really nice to use servicestack.redis.

[2017-07-28 20:58] rushfrisby commented on #93
It looks like you're creating a new client every timer interval. You only need to do this once and then wait on the main thread. The subscribe event will fire asynchronously in it's own thread when Kgx events happen.

[2017-08-02 20:18] alexeyzimarev commented on #37
Jil people have done their work.

[2017-08-02 20:39] rushfrisby commented on #37
All of the serializer projects are supporting some version of .NET Standard now. I think we can move forward with this without any problems now.

[2017-08-03 07:37] imperugo commented on #37
Are you saying me that I've a task for my holidays :-) ?

[2017-08-03 07:42] imperugo commented on #37
@rushfrisby could you check the issue #96 and give me your feedback?

[2017-08-15 16:13] malhayek2014 opened #104 "New connection is made each time a new StackExchangeRedisCacheClient() is set"
I tried to use this package in an ASP.NET MVC 5 application.

I added the following code to a global/base controller

    [Authorize]
    public class BaseController : Controller
    {
        protected ILog Log { get; private set; }
        protected ICacheClient Cache { get; set; }

        protected override void Initialize(RequestContext requestContext)
        {
            base.Initialize(re

[2017-08-15 16:22] rushfrisby commented on #104
Have you tried making the `Cache` property `static`? If not I would try that first. Creating a new `StackExchangeRedisCacheClient` on every request can be costly because in turn each instance creates a new `ConnectionMultiplexer` which is costly.

[2017-08-15 16:26] rushfrisby commented on #104
Also I cannot tell from the code you posted but an easy win for performance would be to use `async` controller methods which in-turn use the appropriate async methods on `ICacheClient`. Just a thought.

[2017-08-25 08:54] AdwardNguyen opened #105 "How to set time expried when AddAll list object to redis?"
Single object : await Sut.AddAsync(key, data, **DatetimeOffset**);
ListObject await Sut.AddAllAsync(objList); no option

Please help me!

[2017-08-27 00:51] rushfrisby commented on #105
Hey @AdwardNguyen, got PR #106 coming that will add expiry to AddAll methods

[2017-08-27 00:52] rushfrisby commented on #104
Did this work for you @malhayek2014?

[2017-08-27 00:54] rushfrisby commented on #103
Using a thread pool will create a number of database connections and StackExchange.Redis will not perform as well. It is better to use as a Singleton @wuzhenda

[2017-08-27 00:56] rushfrisby commented on #93
Did this solve you problem @jacksonwj?

[2017-08-27 01:01] rushfrisby commented on #91
You should only create one `ICacheClient` instance so that only one database reference is created. If you dispose it or create a new instance in a loop that will kill performance. StackExchange.Redis controls the connections beyond that.

[2017-08-28 01:15] bargitta commented on #91
Yes, what I did is exactly as you mentioned, and I find that StackExchange.Resdis actually created hundreds of connections to Redis server.

[2017-08-28 07:30] wuzhenda commented on #103
@rushfrisby  but  jedis and some other implement of redis client always use a connection pools to improve connection speed.

[2017-08-28 09:34] AdwardNguyen commented on #105
Thank rushfrisby for replied
But it not availabled in Nuget lasted version.  i need clone this project and rebuild ?

[2017-08-28 15:49] rushfrisby commented on #105
Hey @AdwardNguyen, as soon as @imperugo approves the PR and pushes the latest package to nuget you can get it from there. If you don't want to wait until that happens then you can always download my branch and compile it yourself.

[2017-08-28 15:54] rushfrisby commented on #103
It would have to be implemented inside of the StackExchange.Redis library. If you try to implement it on top of StackExchange.Redis it will cause performance issues.

[2017-08-28 15:59] AdwardNguyen commented on #105
@rushfrisby  Thank you so much!

[2017-08-28 16:00] rushfrisby commented on #91
I would ask this question in https://github.com/StackExchange/StackExchange.Redis as it relates to the core library and not this extensions project.

[2017-08-28 16:04] rushfrisby commented on #90
Hey @msmolka, if you want to submit a PR for adding `IDistributedCache` support that would be great. I'm going to close this for now though.

[2017-08-28 16:05] #90 closed

[2017-08-29 02:13] bargitta commented on #91
I see, thanks.

On Tue, Aug 29, 2017 at 12:00 AM, Rush Frisby <notifications@github.com>
wrote:

[2017-08-29 14:31] #91 closed

[2017-08-29 14:32] #103 closed

[2017-08-29 14:32] #93 closed

[2017-08-29 14:49] rushfrisby commented on #96
I don't think we need extension methods specific to ASP.NET Core. Best bet would be to abstract the config into an interface and provide two implementations, one for .config, and one for (settings.json?). This way the config is more generic and can be injected. What do you think?

[2017-08-29 14:51] rushfrisby commented on #37
bump @imperugo

[2017-08-29 14:52] rushfrisby commented on #105
bump @imperugo - Can you take a look at the PR?

[2017-08-30 04:30] AdwardNguyen commented on #105
Hi @rushfrisby, if the PR is approved and pushed to nuget please help me by notification.
I using redis by nuget package and i'm waiting for available update.
Thank you!

[2017-08-30 05:21] imperugo commented on #105
Hi @AdwardNguyen
the PR isn't merge yet, I'll do as soon as possible, (hopefully today/tomorrow) after that I'll push into nuget.
I'll let you know soon

Thx

[2017-08-30 13:03] imperugo commented on #105
Published on nuget right now.

Thanks to all

[2017-08-30 13:03] #105 closed

[2017-08-30 14:29] rushfrisby commented on #105
Thanks @imperugo

[2017-09-11 20:24] jonathaneckman commented on #84
I have this same issue. The `IsConnected` property of one of the servers returned is false. Using SearchKeys throws an error when it iterates over this server.

[2017-09-11 21:36] jonathaneckman opened #107 "No way to provide a ServerEnumerationStrategy without using the app config"
In my configuration, I need to create a StackExchangeRedisCacheClient by providing a multiplexer, serializer, and a ServerEnumerationStrategy. This is not currently possible.

[2017-09-14 13:05] #107 closed

[2017-09-28 13:59] thojaw opened #109 "SearchKeys ignoring KeyPrefix"
Example code:

[code]

Result: keys is empty
Expected result: `mykey1` and `mykey2` found....

I don't think I shall include the Prefix myself...
`var keys = client.SearchKeys("MyPrefix__mykey*");`

This would return the keys, though this one will fail:
`var results = client.GetAll<string>(client.SearchKeys("MyPrefix__mykey*"));`

Result: results has no values

[2017-10-02 09:07] imperugo commented on #109
Good point.
I'll investigate on it

[2017-10-02 09:09] eatfrog commented on #37
What's the status on this? Turns out this is a showstopper on a porting project of ours..

[2017-10-04 15:16] imperugo commented on #37
hi @eatfrog
I did a big refactoring of the library (in terms of projects/packages). It works on .net but I need to test on a classic .net using app/web.config for the configuration.

Hope to release something soon

[2017-10-10 21:30] timdoke opened #110 "Utf8Json"
I'm wondering if the Utf8Json serializer can be implemented.  It seems faster than Jil in my brief tests..

https://github.com/neuecc/Utf8Json

[2017-10-11 07:37] imperugo commented on #110
I'll take a look

[2017-10-20 09:44] moonheart opened #111 "Add ICacheClient.Get(string key, Type type)"
Will it be possible to add `ICacheClient.Get(string key, Type type)` on `ICacheClient` interface, so we can get a Anonymous Type from Cache and don't have to create so many poco classes.

[2017-10-20 13:38] rushfrisby commented on #111
Anonymous objects get backing types created for them by the compiler. See https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/anonymous-types You can't do this at runtime. Using Json.Net and `object` or dynamic types will probably get you closes to what you want.

[2017-10-20 16:19] moonheart commented on #111
@rushfrisby Thanks for your suggestion! Now I can add a `Anonymous Type` to cache and get it by `dynamic` type.
[code]

[2017-10-20 16:19] #111 closed

[2017-10-23 19:54] dayanandavt commented on #96
is this addressed?

[2017-10-23 20:05] dayanandavt commented on #96
How long will it take to fix the config issue - we have been using the library with .NET framework and now want to upgrade to Core.  If this is not going to be available soon, i might have to directly play with ConnectionMultiplexer.  Please confirm on the availability of .NET Core support.

[2017-11-10 19:19] dayanandavt opened #112 "Lack of sliding window expiry mode feature"
Hello,

Pardon me for raising this as issue as this is a feature or capability rather.

There is no way we can extend or set the expiry mode while performing Get call.
Having another Write after every Get call to reset expiry time would be an expensive call over network

Are there any plan down the line we are going to have this feature?

Regards,
Daya

[2017-11-15 12:19] msmolka opened #113 "SaveAsync not awaitable and return type void"
SaveAsync should return type Task not void and be awaitable,

[2017-11-15 13:44] msmolka opened #114 "StackExchangeRedisCacheClient no overload constructor with ServerEnumerationStrategy , database and keyPrefix"
Currently there is no way to initialize `StackExchangeRedisCacheClient`  with
`IConnectionMultiplexer`, `ISerializer`, `ServerEnumerationStrategy` and database number and keyPrefix

[2017-12-14 07:36] chenzuo commented on #114
+1

[2018-01-04 22:25] gzannerini opened #115 "SeachKeys: implementation KEYS vs. SCAN"
Hi, posted here [https://github.com/StackExchange/StackExchange.Redis/issues/763]() question about implementation of SearchKeys method. Think here is the right place in which post the question.

Wrote test method to compare performance.

[code]

Results are:

Run 4-5 times, at every run there's a factor 10 (3 sec. vs. 40 sec. circa).

Do you have an explanation for this behavior?

Thanks in advanc

[2018-01-06 16:48] majum opened #116 "Saving boolean to HashTable using Dictionary<string, object> is saved as empty value"
I'm saving my class into Redis using this Extension's `HashSet()` method. Creating a `Dictionary<string, object>` object with all properties my class have instead of using Reflection (due to performance hit).

This is how I create the object for `HashSet()`:

`new Dictionary<string, object>
            {
                { "Id", Id },
                { "Name", Name },
                { "IsActive",

[2018-01-06 18:28] rushfrisby commented on #116
I know that libraries like protobuf-net will not serialize default values to gain performance. Is that the serializer that you are using?

The same author who wrote protobuf-net also wrote stackexchange.redis so I wonder if he applied that same thinking in it. I haven't looked into it that's just my first thought. I would also ask on that repo.

[2018-01-06 18:35] majum commented on #116
I am using `StackExchange.Redis.Extensions.MsgPack` for serialization. There's also the same issue with the value boolean true (which is not default value for boolean) but I realized that if I double click on the row and see the value below it shows the correct value (true or false).

Still wondering why Redis Desktop Manager shows it as empty value.

[2018-01-30 14:27] imperugo commented on #114
Just pushed the new version that works fine on .net standard 2.0.

the `StackExchangeRedisCacheClient` is into the configuration, you can set your value directly there

[2018-01-30 14:28] imperugo commented on #110
Did it.
Pushed here and soon on Nuget.

Thx

[2018-01-30 14:28] #110 closed

[2018-01-30 14:29] imperugo commented on #101
Except Jil (that doesn't offer the signed version) all the new packages (>= 3.0.0) are signed.
Soon on nuget

[2018-01-30 14:29] #101 closed

[2018-01-30 14:29] imperugo commented on #96
The new version >=3.0.0 is compatible with .net standard 2.0.
Pushed to nuget, waiting approval

[2018-01-30 14:29] #96 closed

[2018-01-30 14:30] imperugo commented on #92
We moved to .net standard 2.0.
I think we could downgrade to something like 1.6, but I've to check.

Take a look if 2.0 is ok to you, otherwise reopen the issue

[2018-01-30 14:30] #92 closed

[2018-01-30 14:31] imperugo commented on #61
The new version >= 3.0.0 is signed. Just pushed on nuget. It needs time to be approved

[2018-01-30 14:31] #61 closed

[2018-01-30 14:31] #37 closed

[2018-01-30 14:32] imperugo commented on #113
Fixed, thx (>= 3.0.0)

[2018-01-30 14:32] #113 closed

[2018-01-30 14:33] imperugo commented on #116
Cool, i'm going to close this, in any case feel free to open it again

[2018-01-30 14:33] #116 closed

[2018-01-30 14:38] imperugo opened #117 "Need to update the CI"
Appveyor file is old, would be nice to to add also trevis CI

[2018-01-30 15:55] imperugo commented on #115
Hi @gzannerini
thanks to report this possible issue.
Today I've pushed a the v3.0.0 based on the latest version of `StackExchange.Redis` build on top of `netstandard 2.0`.

This code isn't changed so I'm not expecting any changes on your result.
I'll take a look very soon and share more information soon.

.u

[2018-01-30 19:20] aokelly opened #118 "Null's passed into NewtonsoftSerializer cause undesired NullReferenceException"
My company has a business need to store NULL values in Redis. When attempting to do so we receive a NullReferenceException when the NewtwonSoft class's Serialize and SerializeAsync method is hit. The issue occurs when item type is retrieved

`var type = item.GetType();`

We pulled down the source code and did some testing locally and we found that using a null conditional operator fixes the issue.

[2018-02-01 13:24] bandolir opened #120 "Async methods improvement suggestion"
Would be better if you use Task.FromResult instead of Task.Factory.StartNew in async methods.

[2018-02-02 13:44] msmolka opened #121 "Where is RedisCachingSectionHandler in version 3.0.0"
The project is still used within .config xmls.
This handlers should not be removed. Because now using configuration is not possible and need to write own wrapper.

[2018-02-02 14:16] msmolka commented on #114
@imperugo there is still no such overload.

IConnectionMultiplexer,
ISerializer,
ServerEnumerationStrategy,
databaseNumber,
keyPrefix

[2018-02-02 14:17] imperugo commented on #114
Hi @msmolka
you don't need overload, you have to specify it using the configuration.
Here an example

[code]

[2018-02-02 14:22] msmolka commented on #114
@imperugo  I cannot use `RedisConfiguration`, I need to inject additional options into Redis connection so need to create Multiplexer manually.
There is no Redis connection string (native one) inside this configuration, so it is limited.
I need to use more setting available, that is why I need to create my own multiplexer and pass it to constructor.

[2018-02-02 14:24] imperugo commented on #114
In this case you can use this constructor

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L130-L134

Doesn't it?

[2018-02-02 14:28] msmolka commented on #114
@imperugo this one is not allowing to set Database number that I obtain from configuration file.

[2018-02-02 14:29] imperugo commented on #114
Open a PR :)

[2018-02-04 20:51] imperugo commented on #121
Hi @msmolka
I'm confused. Could you explain better what do you need?

Thanks

[2018-02-05 06:27] msmolka commented on #121
In version 2. I've used `RedisCachingSectionHandler.GetConfig()` to read configuration from my `web.config` file. My question is how to read the same configuration in version 3.

[2018-02-05 15:12] imperugo commented on #121
Ok clear,
I'm going to create a package for .NET Framework that offers you and extension method for that.

Thx
.u

[2018-02-07 23:22] ClarkHsu opened #123 "Version 3.0 breaks in a .NET Framework project with exception: Could not load file or assembly 'Jil.Core, Version=2.15.4.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies"
* How to re-produce:
    Install 3.0 from Nuget into a .NET Framework project and try to new a StackExchangeRedisCacheClient instance. Exception is thrown as 'Could not load file or assembly 'Jil.Core, Version=2.15.4.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies'.

I believe it's related to Jil's issue https://github.com/kevin-montrose/Jil/issues/279 and may need to handle it

[2018-02-07 23:39] ClarkHsu commented on #123
Clarification: It's of .NET Framework 4.7.1 project

[2018-02-08 07:42] imperugo commented on #120
Thanks for the sugggestion.
Just pushed with the 3.0.1 on nuget

[2018-02-08 07:42] #120 closed

[2018-02-08 07:43] imperugo commented on #118
Just pushed with the 3.0.1 on nuget that include a fix for that

[2018-02-08 07:43] #118 closed

[2018-02-08 07:44] imperugo commented on #112
Hi @dayanandavt
thanks for the PR.
I've just pushed the 3.0.1 on nuget (it includes your changes)

[2018-02-08 07:51] msmolka commented on #121
Thanks

[2018-02-08 13:18] imperugo commented on #114
Just pushed the version 3.0.1 that include the overload.

[2018-02-08 13:18] #114 closed

[2018-02-08 13:24] imperugo commented on #115
Hi @gzannerini

I'm just checking the code (quick view) and there are lot of differences between my code and your.
The first one, that will impact the performance for sure, is that you are working on a single server, my implementation iterates the request for each one (so there is a step more).

Another one is the command. This one is totally different.

Here my code

https://github.com/imperugo/S

[2018-02-08 15:33] aokelly commented on #118
Thank you.

On Wed, Feb 7, 2018 at 11:43 PM, Ugo Lattanzi <notifications@github.com>
wrote:

[2018-02-09 07:37] gzannerini commented on #115
Hi @imperugo, thanks for your answer. My concern is about performance of this implementation: using Data Set with around 1 M rows, performance of Keys command degrades. I was wondering if you plan to replace the current implementation with another based on SCAN and MATCH Redis commands. If it's not in plan, you can close the topic. Thanks in advance. Regards, Gabriele.

[2018-02-09 07:40] imperugo commented on #115
Hi @gzannerini my plan is always to improve the library and thanks for your suggestions.

I'm going to refactor this part with something better thanks to your suggestions.

Need to find the correct way trying to reduce (not introduce) breaking changes.

Hope to share some news very soon

[2018-02-12 19:22] dayanandavt commented on #112
Thank you.
Seems 3.0.1 is for Core, but my application is built in .NET framework 4.5.2

[2018-02-12 21:27] imperugo commented on #112
It is not for Core but .netstandard 2.0

The point is that FW 4.5.2 is out of that standard (see here https://docs.microsoft.com/en-us/dotnet/standard/net-standard), also StackExchange.Redis is using .netstandard 1.5 that is not compatible with FW 4.5.2.
Looking on Nuget StackExchange.Redis has a "separete" build for FW 4.5.2.

I'll investigate (dunno how to do that)

[2018-02-15 15:26] norcis commented on #121
Attempting to gather dependency information for package 'StackExchange.Redis.Extensions.LegacyConfiguration.1.0.0' with respect to project 'WindowsFormsApplication3', targeting '.NETFramework,Version=v4.6.2'
Gathering dependency information took 1,7 sec
Attempting to resolve dependencies for package 'StackExchange.Redis.Extensions.LegacyConfiguration.1.0.0' with DependencyBehavior 'Lowest'
Resolvi

[2018-02-15 15:31] imperugo commented on #121
What version of the .NET FW are you using?

[2018-02-15 15:36] norcis commented on #121
4.6.2

[2018-02-15 15:41] norcis commented on #121
Tried 4.7 and 4.5.2 and still not works. Btw. other packages installs to project/packages folder, but this one to C:\Users\username\.nuget\packages

[2018-02-15 15:42] msmolka commented on #121
No issue for me. Installed and used without problem

[2018-02-15 15:51] norcis commented on #121
The same problem with newly created new Console project:

PM> Install-Package StackExchange.Redis.Extensions.LegacyConfiguration

Attempting to gather dependency information for package 'StackExchange.Redis.Extensions.LegacyConfiguration.1.0.0' with respect to project 'ConsoleApp1', targeting '.NETFramework,Version=v4.6.2'
Gathering dependency information took 5,38 sec
Attempting to resolve depend

[2018-02-15 15:52] msmolka commented on #121
Try 4.7.1 It is targeted netstandard2 so it can be issue.

[2018-02-15 15:56] norcis commented on #121
Yes. Works only with 4.7.1.

[2018-02-16 11:22] imperugo commented on #115
Just changed the search implementation.
All tests are green (we have 637 unit tests right now).

Will be online today with the version 3.1.0

Thanks for the suggestion

[2018-02-16 11:39] imperugo commented on #112
Just pushed the 3.1 on nuget.
Hope now it works also for you.

Please let me know

[2018-02-16 11:39] imperugo commented on #115
Pushed on nuget

[2018-02-16 15:18] #115 closed

[2018-02-20 22:07] imperugo commented on #112
Any news? Can I close this issue?

[2018-02-22 13:28] imperugo commented on #112
I'm going to close this.
Feel free to open it again

[2018-02-22 13:28] #112 closed

[2018-02-27 15:23] lucax88x opened #124 "SortedSet support"
Ciao Ugo!

Am I wrong or there's no support for the sorted sets? maybe I can contribute.

Thanks Ugo for your work!

[2018-02-27 15:29] imperugo commented on #124
Hi @lucax88x
yeahm *sorted set* is missing now

[2018-02-27 15:51] lucax88x commented on #124
I'll try to make a pr for that!

[2018-02-27 16:04] imperugo commented on #124
appreciated

[2018-02-28 10:23] mbenhamed opened #125 "StackExchangeRedisCacheClient : method parameter error"
in the following method, you have to pass **database** parameter instead of **0**  :

[code]

[2018-02-28 10:25] imperugo commented on #125
Hi @mbenhamed
What do you mean?
`0` is the default value for database in case you don't pass it. Of course if you want you che pass it.

https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/named-and-optional-arguments

[2018-02-28 10:29] mbenhamed commented on #125
I agree but on the next line you pass `0` no matter the value of the `database `parameter:

[2018-02-28 10:29] imperugo commented on #125
Ok, understood.

Thanks for the issue. I'm going to fix it today.

[2018-03-03 18:19] swati8008 commented on #123
waiting for updates on this..

[2018-03-06 11:20] nlubbers opened #127 "StackExchangeRedisCacheClient Get Method does not accept CommandFlags"
I would like to use multiple slaves to read from. I already added multiple connections in the configuration, but found out that only the master is used for both writes and reads.

My code is using the Get method that does not accept CommandFlags.
Now only public T Get<T>(string key) is defined, and I would expect a
public T Get<T>(string key, CommandFlags flags = CommandFlags.None) so that I can s

[2018-03-06 15:31] Andmon opened #128 "Error Database Selection"
I found an error in the last release.

When I use this constructor :

`public StackExchangeRedisCacheClient(IConnectionMultiplexer connectionMultiplexer, ISerializer serializer, int database = 0, string keyPrefix = null) : this(connectionMultiplexer, serializer, new ServerEnumerationStrategy(), 0, keyPrefix)`

the parameter database is never used and the database is always 0.
I must use this const

[2018-03-07 06:07] imperugo commented on #128
Same of #125

[2018-03-07 06:07] #128 closed

[2018-03-07 07:31] #124 closed

[2018-03-07 07:46] imperugo commented on #127
Hi @nlubbers
A good idea is to add an overload to all the `Get*` methods allowing the user to specify the `CommandFlags`.

I'll try to work on this. if you're in a hurry the PR is the fastest way :-)

[2018-03-07 08:04] imperugo commented on #125
Fixed and deployed on nuget (v3.2.0)

[2018-03-07 08:04] #125 closed

[2018-03-17 11:34] Timovzl opened #129 "StackExchangeRedisCacheClient.Add() on existing key"
Add(Async) returns a boolean, giving the impression that it returns false (doing nothing) if the key exists. However, Replace(Async) is implemented by a simple call to Add! This indicates that Add overwrites.

What is the expected and the actual behavior?

It would seem valueable to have an actual TryAdd() or GetOrAdd() method, allowing clients to ensure that they each use the exact same value and

[2018-03-29 13:50] tiandao-dongguan opened #131 "what's the best practice for multiple redis server ?"
StackExchange.Redis.Extensions is a  very useful tool for my .net core project ,thank you very much.

in my .net  core project , i use multiple redis server( this redis server have different ip address ) ,for example ServerRedis, ClientRedis,so, here is my code:

1.in startup.cs
`var serverRedisConfiguration = _appConfiguration.GetSection("ServerRedis").Get<RedisConfiguration>(); //this is man red

[2018-03-29 17:32] tiandao-dongguan commented on #131
here is my solution
1.create new class:
public class ClientRedisCacheClient : StackExchangeRedisCacheClient,IClientCacheClient
    {
        public ClientRedisCacheClient(ISerializer serializer, ClientRedisConfiguration configuration) : base(serializer, configuration)
        {

        }
    }

    public interface IClientCacheClient: ICacheClient { }

    public class ClientRedisConfiguration :

[2018-03-30 05:27] imperugo commented on #127
Just pusblished on nuget (v3.3.0)

Thx

[2018-03-30 05:27] #127 closed

[2018-03-30 05:32] imperugo commented on #131
Hi @tiandao-dongguan
before to suggest you something, I need to understand better the scenario so, first question ... why are you using two (or more) different redis cache server?

Redis supports clusters out of the box (see here https://redis.io/topics/cluster-tutorial) so you could do that using a single client.

Let me know
Thx

[2018-04-04 07:08] msmolka opened #132 "Shouldn't breaking changes follow semver major version update?"
I'm using directly ICacheClient interface. Every time new minor version is released my application is not working because of breaking change. (Not fully implemented interface).

So, is this library follow semver rules?

[2018-04-04 07:11] imperugo commented on #132
Hi @msmolka
Could you tell me an example?
I don't have a good memory. but the 3.3.0 shouldn't broke anything. Doesn't it?

Thx

[2018-04-04 07:15] msmolka commented on #132
I'm using explicit interface. So adding `CommandFlags commandFlags` requires code changes.

[2018-04-04 07:26] imperugo commented on #132
Yeah, but it has the default value has you can see here

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/ICacheClient.cs#L80

[2018-04-04 07:32] msmolka commented on #132
Explicit interface implementation requires to provide default parameters.

[2018-04-17 01:31] ClarkHsu commented on #123
I've found that the latest version of 3.3.0 has fixed this, @Timvozl @swati8008 . Close it, nice work and thank you!

[2018-04-17 01:31] #123 closed

[2018-05-11 09:24] chris-eu opened #133 "Suggestion: Add support for raw keys"
Great set of extensions for StackExchange.Redis!

We're excessively use raw `byte[]` keys (and also raw hash-field keys). Unfortunately, your lib currently does not support the use of raw keys. It would be a great if you add support for the appropriate _StackExchange.Redis_ overloads in one of your upcoming versions.

[2018-05-15 12:35] lisberPontes opened #134 "AWS - 'No connection is available to service this operation: SETEX - ; The remote certificate is invalid according to the validation procedure.'"
I cannot connect to the REDIS cluster on AWS due to the SSL.

On the class **RedisConfiguration** (StackExchange.Redis.Extensions.Core.Configuration)

I cannot pass the proposal solution here:
https://github.com/StackExchange/StackExchange.Redis/issues/766#issuecomment-357506555

A delegate to the CertificateValidation... for instance:
ConnectionOptions.CertificateValidation += (sender, cert, chai

[2018-05-15 12:40] imperugo commented on #134
Hi,
if is urgent you can open a PR (I'll try to review it as soon as I can), otherwise I'll see what I can do in the next weeks

Thanks

[2018-05-15 13:29] lisberPontes commented on #134
I've just sent you the PR.

[2018-05-22 20:02] mselinger75 commented on #134
I vote for this fix as well please. Really urgent.
We can not use this session provider
https://docs.microsoft.com/en-us/azure/redis-cache/cache-aspnet-session-state-provider
because of the issue

[2018-05-23 07:16] lisberPontes commented on #134
Hi @imperugo, there’s something wrong with the PR? It’s been a while since I’ve opened.
Regards,

[2018-05-23 08:30] imperugo commented on #134
Just need some time to check better and merge.
Hope to do it later today (Italian time)

[2018-05-24 09:52] GFoley83 opened #136 "Using GetAsync with expiry returns null"
Just came across what looks to be a bug: specifying a `TimeSpan` when using `GetAsync` returns `null` every time, as can be seen in this screenshot.

I'm loading the same data from the cache for the four test variables, the only one that fails is `test4`, the one that uses async `GetAwait` with `TimeSpan`:

![image](https://user-images.githubusercontent.com/838788/40466993-220efa96-5f7c-11e8-949d-

[2018-05-24 14:14] lisberPontes commented on #134
Hi Ugo,

Did you have time to check the PR? We really need this enhancement ASAP.

Regards,
Lisber

El dc, 23 maig 2018 a les 9:30 Ugo Lattanzi <notifications@github.com> va
escriure:

[2018-05-26 21:39] imperugo commented on #134
Hi @lisberPontes
please don't write the same message in different parts (you wrote also into the PR).
One place is enough and moreover I got your message (you wrote it several times).

Moreover this issue is not a big problem. You know you can already pass you instance of `IConnectionMultiplex` to this library and you can handle all the configuration settings there?

Maybe this approach could be a

[2018-05-26 21:50] imperugo commented on #136
Could you write a unit test to replicate the problem? (https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/tests/StackExchange.Redis.Extensions.Tests/CacheClientTestBase.cs#L753-L765)

I've one for this scenario, but it seems ok to me.

[2018-05-26 21:58] imperugo commented on #134
Published on nuget

[2018-05-26 21:58] #134 closed

[2018-05-28 05:46] imperugo commented on #133
Hi @chris-eu
what do you think about a PR?

[2018-06-15 14:29] scott-boulette opened #137 "StackExchange.Redis.Extensions.Protobuf attempting to load the wrong version of protobuf-net"
I have an issue I believe is due to another package (not yours) but the stack trace always ends in your code. An application I use (NinjaTrader 8) allows one to compile code within their environment that accesses 3rd party dll's. I have a dll that accesses Redis using protobuf-net as the serializer. When the strategy (effectively a compiled c# script that accesses my dll which uses your dll) first

[2018-06-15 14:49] rushfrisby commented on #137
In your app.config or web.config you can map a range of versions so that it resolves to the version you have:

[code]

[2018-06-15 15:39] scott-boulette commented on #137
Rush,

Thanks for getting back to me so quickly. I did that but likely in the
wrong place. I have protobuf-net
dll, StackExchange.Redis.Extensions.Protobuf.dll, within my GtG_Common.dll
which is in turn a dependency of my NTBridge.dll which is what is being
called from within NinjaTrader. I have the xml below in all the dll's I
wrote, should it be somewhere else as well?

Best regards,
Scott

<dep

[2018-06-15 15:44] rushfrisby commented on #137
It should be in the config of whatever application is being executed and loading the protobuf-net.dll. It sounds like it should be the NinjaTrader config.

[2018-06-15 15:53] scott-boulette commented on #137
Thanks again. I am not sure I have access to that but at least it gives me
something to try. If it matters, NinjaTrader is loading the correct version
of protobuf-net.dll (I can see that in their logs) but for some reason
when  StackExchange.Redis.Extensions.Protobuf.dll is first called, it
attempts to load the minimum version as defined by its dependencies in
nuget even though the correct version

[2018-06-16 00:17] scott-boulette commented on #137
I have determined it is definitely an app.config issue. If I run it in my
test app without the bindingRedirect, I get the same failure with the same
message and once I put the bindingRedirect back in, all is good. The issue
I have now is there is no app.config in the NinjaTrader application or at
least not one I can get to. Is there anything I can do relative to your
modules? If not, I will always

[2018-06-18 08:04] imperugo commented on #136
Any update here?

[2018-06-18 08:06] imperugo commented on #133
HI @chris-eu
about what you asked, why not use `Add<byte[]>(....)` ? In any case you can always reach the base library by using `Database` property

[2018-06-18 08:07] GFoley83 commented on #136
Apologies, I'm on leave at the moment. It'll be another 2-3 weeks before I can update tests.

[2018-06-18 08:51] imperugo commented on #136
Ok, I'm going to close this issue.
Feel free to open it again when you have time

Thanks

[2018-06-18 08:51] #136 closed

[2018-06-18 15:12] imperugo commented on #129
I'm going to close this

[2018-06-18 15:12] #129 closed

[2018-06-20 06:35] mahdiprog opened #138 "Extract ISerializer and it's descendants to separate project"
Hi
firstly I should say thank you for your good work
I think you should separate all Serializers to a new separated project because it can be used separately without having Redis and it's DLLs in project

[2018-06-20 09:48] imperugo commented on #138
hi @mahdiprog
first thanks for the kind words.
I'd like to understand better the scenario before to proceed with this suggestion.

If you ask me to move `ISerializer` into another project without Redis dependency, probably you are using `ISerializer` outside of my library.
The point is why?

Could you provide me more informations?

[2018-06-23 16:26] chathudev opened #139 "Error after updating nuget package"
I have updated to the latest StackExchange.Redis.Extensions.Core package and i am getting the following error.

[code]
I have installed following nuget packages:

[code]

My web.config is as follows:
[code]

And my OWIN startup class with autofac is as follows :

[code]
Please help me to correct this issue.

[2018-06-23 17:53] mahdiprog commented on #138
Thank you for your reply.The point is to use serializers in other libraries. For example I think we can use it for serialize objects for store in databases or even in memory as well as other caching solutions like memcached. I think we can separate it for separating concerns and use it every where. I want to write such library before and it make me very happy when I find it emplemented in you libr

[2018-06-27 06:35] imperugo commented on #138
Hi @mahdiprog & @rushfrisby
this could be a good idea but I'm still thinking it shouldn't be a part of my library.
Your scenario makes sense to me, but probably it must be part of the FW not of a Caching Library.

I see better something like "`Microsoft.Serialization.Abstraction` instead of `StackExchange.Redis.Extensions.Abstractions`.

Sounds weird to me reference a package build for caching tha

[2018-06-27 06:36] imperugo commented on #139
Hi @chathudev
from what version?

[2018-06-27 12:25] #133 closed, assigned to nobody

[2018-06-27 14:31] rushfrisby commented on #138
Feel free to close this. I will start a separate repo here https://github.com/rushfrisby/ISerializer

[2018-06-27 19:24] wsquire opened #140 "Why does StackExchangeRedisCacheClient.Dispose call connectionMultiplexer.Dispose?"
Suppose we want multiple threads calling Redis simultaneously.  StackExchange.Redis.ConnectionMultiplexer documentation suggests that you should really only ever have ONE ConnectionMultiplexer instance per app. Within ConnectionMultiplexer connections are pooled.

But because StackExchangeRedisCacheClient.Dispose calls the underlying connectionMultiplexer.Dispose, the multiplexer is always dispose

[2018-07-05 08:42] msmolka commented on #140
I think it depends on usage.
If it is provided from external source it should not be disposed. If it is created by CacheClient it should.

But this is the normal pattern. Class should only dispose only objects it owns.

[2018-07-05 15:33] rushfrisby commented on #140
@msmolka and @wsquire I think you are both right. There are some constructor overloads which take in IConnectionMultiplexer and when those cases are used it should not dispose of it. For the cases where StackExchangeRedisCacheClient creates the IConnectionMultiplexer then it should be disposed.

[2018-07-09 06:34] imperugo commented on #140
Thanks to all for the feedbacks and the PR (I'm going to merge it today).
Just a question about the problem (probably for @wsquire ) why are you disposing the `ICacheClient` ?

It should be registered as singleton so you should dispose it only when the app goes down. In this scenario you shouldn't have this problem.

[2018-07-10 14:08] imperugo commented on #140
Pushed on nuget.
Added also a package for AspNetCore that allows the user to have an easy registration for the DI (here an example https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/samples/StackExchange.Redis.Extensions.AspNetCore.Sample/Program.cs#L23)

[2018-07-11 21:57] wsquire commented on #140
@imperugo - That was one part of my question:

I was under the impression that ICacheClient was meant to be short lived (maybe as short-lived as one per operation, if our operations are infrequent!), and that IConnectionMultiplexer was to be a singleton across the life of the app.

My thoughts on this are all based on things like
https://gavinb.net/2015/07/11/dont-get-burned-by-redis-connectionmul

[2018-07-20 20:28] #140 closed, assigned to rushfrisby, imperugo

[2018-07-20 20:39] rushfrisby commented on #137
How are you able to add StackExchange.Redis.Extensions but not modify the app.config? Do they have some kind of hosting platform where they let you add dll's or nuget packages but not edit the config?

[2018-07-20 20:46] rushfrisby commented on #132
@msmolka Does your class have a method with the same signature as one of the methods in ICacheClient, or does your class implement another interface that shares methods with the same signatures as ICacheClient?

[2018-07-21 00:29] scott-boulette commented on #137
I got it sorted out, it was an issue on my end that I solved by handling
the references differently.

On Fri, Jul 20, 2018 at 4:39 PM Rush Frisby <notifications@github.com>
wrote:

[2018-07-21 01:08] #137 closed

[2018-07-23 07:40] msmolka commented on #132
@rushfrisby I have class that implements multiple Redis related interfaces. One wrapper that holds connection multiplexer and uses `StackExchangeRedisCacheClient` and other holders internally.

But this doesn't matter. Explicit interfaces are normal usage in C#, so they should be allowed, unless explicitly stated - do not use. And changing interface is breaking change, even with default value.

[2018-07-23 13:34] JessePreiner opened #143 "SearchKeys not possible on server cluster"
I was scratching my head wondering why my RemoveStartsWith implementation was only removing keys from one of my servers in the cluster. After digging around, it appears that the code that [the code that iterates servers in SearchKeys](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchangeRedisCacheClient.cs#L1079) is commented o

[2018-07-23 15:42] rushfrisby commented on #143
Looks to be removed because the class is database specific and if it returned results from other databases that would be unreliable. @imperugo commented it out so maybe he has another reason?

Seems like it would be easy enough to break out the commented code into a helper method within your solution and switch back to the nuget package.

[2018-07-24 14:59] petersmax opened #144 "Why is class RedisConfiguration missing from the NuGet version?"
I inspected the current nuget version of `StackExchange.Redis.Extensions.Core.Configuration` and `RedisConfiguration` is missing. Any ideas?

[2018-07-24 15:01] #144 closed

[2018-07-24 15:01] petersmax commented on #144
Nevermind. My version was not the latest.

[2018-07-24 19:06] ManyouRisms commented on #143
Jah. Fair enough, thanks.

We'll see what he says about it, but maybe if I get some time this weekend i'll look into making a pull request to make this work regardless of db config.

[2018-07-26 14:11] ManyouRisms commented on #109
I think this is still a problem, correct? If so, I can look into it this weekend if I get a chance.

[2018-08-01 13:09] Rekhajikki opened #145 "Not able to add non-serialize Object"
Not able to add non-serialize Object

[2018-08-01 13:13] rushfrisby commented on #145
Hi Rekhajikki. Can you provide more info on what you are trying to do?

[2018-08-01 15:36] rushfrisby commented on #145
This project provides *extensions for serializing* objects in order to store them in redis. Based on the merge you tried to do in @mgravell's repo I'm guessing you are interested in the pipelines feature he is working on - is that right? If so then maybe the alpha builds might be of interest to you? https://www.nuget.org/packages/StackExchange.Redis/2.0.0-alpha.206

[2018-08-01 15:38] #145 closed

[2018-08-01 16:06] mgravell commented on #145
@rushfrisby  to be fair, I don't think it is anything to do with pipelines, either, but 🤷‍♂️

[2018-08-01 18:05] rushfrisby commented on #145
@Rekhajikki take a look at MemoryCache, maybe? 🤷‍♂️ here as well

[2018-08-28 09:05] CSharpBender commented on #93
You can't subscribe to __keyspace events using StackExchangeRedisCacheClient because it uses the serializer which throws an exception. This exception is not visible to the dev, it just seems that the subscription doesn't work.
Also this implementation hides the RedisChannel parameter which contains important information.
You need to use ConnectionMultiplexer.GetSubscriber().Subscribe(..) to get __

[2018-09-05 23:33] josbol opened #146 "StackExchangeRedisCacheClient.FlushDb() tries to clear slave"
Hi

We are using pair of redis servers, one being the master, the other a slave (read only). The config in web.config is as follows

`<redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="1" password="xxxxxx" >
        <serverEnumerationStrategy mode="Single" targetRole="PreferSlave" unreachableServerAction="IgnoreIfOtherAvailable" />
                <hosts>

[2018-09-20 08:02] neelarc opened #147 "Could not install package 'StackExchange.Redis 2.0.505'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.1'"
I tried to install Redis package for .Net. We are currently using .Net 4.5.1 and I think Redis for .Net not supporting it.

What should I have to do now?

[2018-09-20 13:38] rushfrisby commented on #147
You need to upgrade your project to .NET 4.6.1 in order to use that version of StackExchange.Redis.

The last version that was compatible with .NET 4.5 was StackExchange.Redis 1.2.6, so you can use that but just know that any issues and new features you'll probably have to fix and add yourself.

[2018-09-24 10:41] neelarc commented on #147
Hi Rushfrisby,

Thanks for your reply. I have upgraded project with .Net 4.6.1 but now facing same issue with another internal package - Pipelines.Sockets.Unofficial 1.0.0

_Could not install package 'Pipelines.Sockets.Unofficial 1.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or con

[2018-09-26 12:40] KamranShahid commented on #147
I have an old .net 4.5.2 where i have used this library. Now we are porting it to .net core 2 and getting same error.
Is there implementation in .net core also available?

[2018-09-26 12:42] KamranShahid opened #148 "Library compatible with .net core 2.0/2.1 available?"
is this library available for .net core 2.0 or 2.1
I have an old application targetting .net framework 4.5.2 where i have used this library extensively. But looks like implementation is not available for .net core 2.0/2.1 yet.
Can you please let me know is there any working going on or what will be the best alternative.
I was getting the error

Package 'StackExchange.Redis.Extensions.Core 2.0.0' w

[2018-10-17 23:02] umitsethi commented on #115
@imperugo I am running this code on a single node with million keys and the behavior i see is that do while loop does not scan entire million keys and just return like 40-50k .Why is that? I am just trying to understand that if someone wants to get all keys in redis using scan, then it should iterate.  Please let me know your thoughts.

int nextCursor = 0;
			do
			{
				RedisResult redisResult =

[2018-10-18 08:02] imperugo commented on #115
Hi @umitsethi using `this.Database.*` means that you are using directly *StackExchange.Redis* and not my library (as far as I remember).
In this case probably the best place to ask is the *StackExchange.Redis* repo [here](https://github.com/StackExchange/StackExchange.Redis)

Thanks

[2018-10-27 07:54] narayannk opened #150 "Stackexchange Redis - Connect multiple Db"
Hi,

I have a requirement. we are creating a Nuget Package for Redis (since we are using micro service and some of the service need s to use redis. So thought of creating a nuget) which internally use the across the project.We are planned to use stackexchange.Redis. In a single redis server we have around 16 databases. In this we are planning to use each one db for each domain.The problem statemen

[2018-11-01 17:52] imperugo commented on #148
Try the version 4 (just published on nuget now)

[2018-11-01 17:52] #148 closed

[2018-11-01 17:55] imperugo commented on #150
Hi @narayannk
I didn't understand if you have to use a different db for each microservice (in this case is enough to use a different connection string) or each microservice needs to connect to different dbs using the same connection.

Let me know
Thanks

[2018-11-01 17:57] imperugo commented on #147
I just have published the version 4 of the library that uses redis 2.0.513 and is available for
- .NET Framework 4.6.1
- .NET Framework 4.7.2
- .NET Standard 2.0

here more info

https://github.com/imperugo/StackExchange.Redis.Extensions/pull/149

Thanks

[2018-11-01 17:57] #147 closed

[2018-11-01 18:01] imperugo commented on #146
Going to fix it now.
Soon on nuget

Thanks

[2018-11-01 18:03] imperugo commented on #143
Hi @JessePreiner
sorry for the delay. Honestly I don't remember but I'm pretty sure it comes from a PR with the idea to improve the performances.

I'll try to figure out better the history of this code and find a way to solve it.
In the mean time, if you want, a PR o a piece of code is welcome.

Thanks

[2018-11-01 18:05] imperugo commented on #143
Maybe it comes from here

https://github.com/imperugo/StackExchange.Redis.Extensions/issues/115

[2018-11-01 18:13] imperugo commented on #143
I should fix it, soon on Nuget.
If you have time to run in on your cluster will be amazing (I don't have a cluster here and, with a single server, it works)

[2018-11-01 18:13] imperugo commented on #139
I'm going to close it.
Please feel free to open it again in case you still need more support

[2018-11-01 18:13] #139 closed

[2018-11-01 18:14] #132 closed

[2018-11-01 18:15] imperugo commented on #131
Hi @tiandao-dongguan
sorry for the delay. If you have to connect to two different redis server with multiple connection probably the best way is to use two different instances fo ICacheClient into your DI framework.

[2018-11-01 18:15] #131 closed

[2018-11-01 18:17] imperugo commented on #109
I think the code is correct

[code]

There is also a unit test for it.
If you have a code that can replicate the problem, please feel free to reopen this issue againa

[2018-11-01 18:17] #109 closed

[2018-11-01 18:17] imperugo commented on #74
Probably this is an old issue.
Going to close it

[2018-11-01 18:17] #74 closed

[2018-11-01 18:22] imperugo commented on #146
On nuget now.
Let me know if you still have problems.

Thanks

[2018-11-01 18:22] #146 closed

[2018-11-01 18:22] imperugo commented on #143
Just pushed the 4.0.1 that should solve this issue.
Please let me know if it works or not.

Thanks

[2018-11-01 18:22] #143 closed

[2018-11-11 19:07] imperugo commented on #150
Going to close it

[2018-11-11 19:07] #150 closed

[2018-11-17 07:42] carlosboeing opened #155 "SearchKeys returns keys with KeyPrefix included"
Hi,

While using `SearchKeys` I noticed that my keys are being returned with the `keyprefix` included.

The code below:

[code]

Should return `mykey1` and `mykey2` which are the keys I added.

But instead it returns `MyPrefix_mykey1` and `MyPrefix_mykey2`.

In the `SearchKeys` method, if `keyprefix` is defined, I think it should be removed before returning keys:

[code]

What are your thoughts?

[2018-11-17 10:42] carlosboeing commented on #155
Here's the PR:

https://github.com/imperugo/StackExchange.Redis.Extensions/pull/156

[2018-11-18 02:46] swasifali opened #157 "How to add a key only if does not already exists"
Why does Add methods not support StackExchange.Redis.When enumeration ?

The use case is to add a key only if it does not already exists.

[2018-11-25 14:21] Henry-Keys opened #158 "Support for transactions"
Hi, unfortunately it seems that there are no support for transactions.

[2018-11-26 04:30] Henry-Keys commented on #158
Hi @imperugo, hope you're fine.
Sorry for so little details about the issue.

With StackExchange.Redis you can wrap a set of operations within a transaction. Example:
`IDatabase database = _connectionMultiplexer.GetDatabase();
transaction = database.CreateTransaction();
await transaction.StringSetAsync("my-key", "value");
await transaction.ExecuteAsync();`

With your library, is there a way to wra

[2018-11-26 07:58] imperugo commented on #158
should be something like:

[code]

[2018-11-26 11:37] Henry-Keys commented on #158
Hey @imperugo

So, i want to really use your extension wrapper methods inside of transactions, instead of StackExchange.Redis ones, as i want my data to be serialized into JSON.

Thanks.

[2018-11-26 12:30] imperugo commented on #158
It means to create a wrapper also for the transaction.

If you have time, a PR is welcome

[2018-11-26 13:36] Henry-Keys commented on #158
I'll surely do.
Thanks for your time.

[2018-11-28 07:51] imperugo commented on #157
I'll add the enum as soon as I've time.
Of course a PR is welcome :-)

Thanks

[2018-11-28 07:51] imperugo commented on #155
I'm going to close thanks to your PR.

[2018-11-28 07:51] #155 closed

[2018-12-08 15:46] KamranShahid commented on #148
i have tried to get this from nuget package manager but unsuccessful

[2018-12-09 20:19] imperugo commented on #148
I use it in a dozen application using .net core 2.1.
What's exactly your error?

[2018-12-17 14:36] dharmenbavaria opened #160 "Possible solution to use a pool of ConnectionMultiplexer objects in your client"
Sometime when we have high throughput we get redis timeout because we only have one tcp connection and qs in it grows bigger and bigger after a while. Reids suggest to use a pool of ConnectionMultiplexer objects in your client, and choose the “least loaded” ConnectionMultiplexer when sending a new request. This should prevent a single timeout from causing other requests to also timeout.

[2018-12-17 14:48] rushfrisby commented on #160
We probably won't add an object pool of ConnectionMultiplexer in this library since the purpose is just to make serialization easier. Can you create a pool of ICacheClient in your app and use that?

[2018-12-18 18:52] benscabbia opened #161 "Adding extension methods to convert any object to a HashEntry[] and back"
This is based on [this post](https://stackoverflow.com/questions/25263888/convert-object-to-hashentry-in-stackexchange-redis/25267028), where Marc Gravell made is clear there is no built in way to do this.

My idea is to add two extensions methods so I can do:

[code]

The serializer is anything that implements `StackExchange.Redis.Extensions.Core.ISerialize`. I have a working prototype, so I was

[2018-12-19 07:52] imperugo commented on #160
This is an interesting point because, with the new version of redis, the timeout problems happens frequently.

@rushfrisby could you elaborate better your idea?

[2018-12-19 07:59] imperugo commented on #161
Hi @benscabbia
thanks for asking. I think your idea is good but doesn't fit so well with out library.
The point is that you extension method is something related to the object you are calling that is not part of our library.

From my point of view eveything is into our library must be related to our library and your extension is not.

Let me include in this discussion also @rushfrisby that can sha

[2018-12-19 17:34] benscabbia commented on #161
Thank for getting back to me @imperugo, and no problem! I think you're probably right as what I'm suggesting is somewhat an independent piece of work which only has a dependency on the serialisers of the library.

Unless @rushfrisby comes up with an alternative, I'm happy to release it as a separate package but I am wondering if it would be best to keep this dependency on your serialisers...

The

[2018-12-21 16:41] imperugo commented on #161
You can add a reference directly from my library if you want or copy it. In any case with the next release of .NET Core (3.0 in preview now) MS is going to release an interface `ISerialize ` (or something like this) in order to make an abstraction for serialization

[2018-12-21 16:44] rushfrisby commented on #161
@imperugo got a link to that ^ ? either a github issue or actual code?

[2018-12-21 16:56] imperugo commented on #161
Here more info https://github.com/dotnet/corefx/issues/33115

[2018-12-28 21:07] zoinkydoink opened #162 "Questions and Serialization Bugs"
Question 1:
What is the equivalent of `services.AddSingleton(redisConfiguration);` for AutoFac?
I got the 2 interfaces as follow, but the object of configuration I could not figure out

[code]

I have the following:

[code]
If i do not put [Serializable] on my class then when it brings back the data from redis, all my properties are null, I thought the point of using `NewtonsoftSerializer `was so

[2019-01-03 15:07] imperugo commented on #162
Hi @zoinkydoink
I'm not use Autofac but for the configuration I thing you can use one of the following options:

[code]

About the problem related to the get, I can't reproduce it.
Could you provide a unit test in order to replicate the problem so I can fix it?

Thanks

[2019-01-03 15:07] imperugo commented on #161
Can I close this issue?

[2019-01-03 15:07] imperugo commented on #160
@rushfrisby news?

[2019-01-03 15:15] rushfrisby commented on #160
I thought I had an object pool example in one of my repos but I can't find it. I have some code from a project at home I can share. I'll commit it to a new repo later today and share.

[2019-01-03 16:14] imperugo commented on #160
Cool,
I was looking to this https://docs.microsoft.com/en-us/dotnet/standard/collections/thread-safe/how-to-create-an-object-pool but it doesn't fit so much with our scenario.

In my idea the pool must create a new instance only in case is needed where needed means we are getting timeout or something similar.

[2019-01-03 18:34] benscabbia commented on #161
@imperugo yes that's all fine - thanks for your time!

[2019-01-03 18:34] #161 closed

[2019-01-08 07:01] dharmenbavaria commented on #160
@rushfrisby did you got time to commit the object pool example?

[2019-01-11 15:46] imperugo commented on #160
Here a possibile solution:

https://stackoverflow.com/questions/29603890/azure-redis-cache-pool-of-connectionmultiplexer-objects

Based on this:

https://github.com/StackExchange/StackExchange.Redis/issues/512

[2019-01-14 08:36] imperugo commented on #160
Just testing this code:

[code]

[2019-01-14 08:40] dharmenbavaria commented on #160
Hi @ugo I don't think it's async friendly.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ugo Lattanzi <notifications@github.com>
Sent: Monday, January 14, 2019 9:36 AM
To: imperugo/StackExchange.Redis.Extensions
Cc: Dharmen Bavaria; Author
Subject: Re: [imperugo/StackExchange.Redis.Extensions] Possible solution to use a pool of ConnectionMultiplexer objects in

[2019-01-14 10:02] imperugo commented on #160
Probably not, but I've to be sure it works before to make it nice and clean.
Unfortunately right now I'm unable to replicate the problem.

[2019-01-16 09:15] imperugo opened #163 "V5 - news & breaking changes"
The new release will introduce some breaking changes.
The idea is to keep also the old signature but mark it as obsolete.

In any way what I'm going to do is:

## Introduce the interface **IMultiplexFactory**:
The idea is that the factory is not build by the instance of `ICacheClient` but is something that comes from outside.
This allow us also to create a pool of connection (see here #160 )

## A

[2019-01-16 15:19] imperugo commented on #163
v 5.0.0-pre on nuget

[2019-01-17 08:16] imperugo commented on #160
Just pushed on nuget the 5.0.1-pre that includes a super prototype.

The are also other changes (read here https://github.com/imperugo/StackExchange.Redis.Extensions/issues/163#issuecomment-454816803) so you don't have to use the `ICacheClient` but the `IRedisCacheClient`.

Let me know if it changes anything to you

[2019-01-18 13:42] imperugo commented on #163
Need to add this https://github.com/imperugo/StackExchange.Redis.Extensions/issues/157

[2019-01-18 13:42] imperugo commented on #157
I'm going to add this with the next major.
here https://github.com/imperugo/StackExchange.Redis.Extensions/issues/163 more info

[2019-01-18 13:42] #157 closed

[2019-01-18 13:43] imperugo commented on #162
@zoinkydoink any news?
Can I close this issue?

[2019-01-22 10:52] imperugo commented on #150
With the v5 we are going to support multiple db.
You can try the preview if you want.

More info here
https://github.com/imperugo/StackExchange.Redis.Extensions/issues/163

[2019-02-27 07:50] findmyway opened #165 "Please reset the options field in RedisConfiguration to null when config get updated"
I've spent a whole afternoon to find this problem! Let me describe the scenario:

I have a json configuration file with a section named `"RedisConfig"`. Each field is properly set, **EXCEPT** that the `"Password"` field is not set. The reason is that I want to fetch it in the runtime from somewhere like Azure Key Vault. So I initial the redis configuration like this first:

[code]

The problem is

[2019-02-27 08:48] imperugo commented on #165
Hi @findmyway
thanks for the feedback.
I'm going to do your suggestion directly into the V5 ([here](https://github.com/imperugo/StackExchange.Redis.Extensions/issues/163) some info) that will be released soon (this week I think).

Thanks

[2019-02-27 08:49] imperugo commented on #163
Need to fix this https://github.com/imperugo/StackExchange.Redis.Extensions/issues/165

[2019-02-28 10:59] imperugo commented on #163
Evaluate https://github.com/facebook-csharp-sdk/simple-json/tree/master/src as default serializer

[2019-03-28 11:28] imperugo commented on #163
On nuget.

[2019-03-28 11:28] #163 closed

[2019-03-28 11:28] imperugo commented on #165
The v5 is on nuget, please take a look.

Thanks

[2019-03-28 11:28] #165 closed

[2019-03-28 11:29] imperugo commented on #160
The v5 is on nuget and include out of the box a pool manager (of course you can override it and add your favorite implementation)

[2019-03-28 11:29] #160 closed

[2019-03-28 12:57] sl-coralieluzet opened #166 "DateTimeOffset.DateTime is unspecified kind"
In this method

[code]

The kind of expiresAt.DateTime is always unspecified
https://docs.microsoft.com/fr-fr/dotnet/api/system.datetimeoffset.datetime?view=netframework-4.7.2#System_DateTimeOffset_DateTime

But in Redis they test if the kind is UTC or Local
[code]

So in this case we always end up in the exception. Also because of the Parallel.ForEach my try catch doesn't catch it and the applica

[2019-03-28 13:45] findmyway commented on #165
Great!

[2019-03-28 14:24] imperugo commented on #166
Hi @sl-coralieluzet
sorry but I didn't understand exactly the problem. The method has a DateTimeOffset as input, so it includes the offset out of the box.

what do you suggest exactly? this?

[code]

[2019-03-28 14:56] sl-coralieluzet commented on #166
Yes it will correct the problem or you can use expiresAt.UtcDateTime

[2019-03-28 15:06] imperugo commented on #166
Ok, I'll work on it

[2019-03-29 10:51] zhangjiongwx opened #168 "V5 - Key prefix config does not work on IRedisDefaultCacheClient"
When I updated to V5, I found key prefix configuration does not work on IRedisDefaultCacheClient.

[2019-04-01 13:00] imperugo commented on #168
v5.0.1 is on nuget.

Thanks

[2019-04-01 13:00] #168 closed

[2019-04-02 15:47] VictorioBerra opened #170 "Can someone share an example using ConnectionMultiplexer via an Azure Function?"
Im not sure how to initialize this library manually using a ConnectionMultiplexer.

[2019-04-02 15:56] imperugo commented on #170
Hi @VictorioBerra

with the latest version (>= 5.x) the easier way is to implement your instance of `IRedisCacheConnectionPoolManager ` that is the class who has the task to return the best connection available.

Here an example with a pool management:
https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheConnection

[2019-04-02 16:09] VictorioBerra commented on #170
@imperugo As for `RedisCacheClient` Why cant I just provide a redis connection string? it looks like I have to make my own `RedisConfiguration` now?

[2019-04-02 16:16] VictorioBerra commented on #170
@imperugo this is what I came up with, let me know if this looks bad to you.

[code]

[2019-04-03 07:18] imperugo commented on #170
I always suggest to use the RedisConfiguration instead of connection string because it includes some infos that aren't available with the connection string (ServerEnumerationStrategy, DefaultDatabase and KeyPrefix in case you want to add a prefix in front of your cache keys).

If you don't care about this, your code seems ok to me.

[2019-04-03 09:52] mageshiam opened #171 "package does not upgrade .NETFramework,Version=v4.7.2"
Could not install package 'StackExchange.Redis.Extensions 1.0.1'.  Because Im using .NETFramework,Version=v4.7.2', but the package does not contain any assembly references or content files that are compatible with that framework.

Kindly assist on this.

[2019-04-03 12:13] imperugo commented on #171
Hi @mageshiam the package `StackExchange.Redis.Extensions 1.0.1'` isn't my package, so I can't help you.
My suggestion is to open the issue in the right repository.

Thanks

[2019-04-03 12:13] #171 closed

[2019-04-03 12:14] imperugo commented on #162
Hi @zoinkydoink unfortunately I can't reproduce the problem. If you can provide a unit test, I'll be happy to try to help you.

Thanks

[2019-04-03 12:14] #162 closed

[2019-04-09 08:30] imperugo commented on #170
I'm going to close this, in case you need more help, please open it again (or open a new issue)

[2019-04-09 08:30] #170 closed

[2019-04-09 08:31] imperugo commented on #166
I did it in almost all the part of the code we are using DateTime.
Deploying a pre-release between today and tomorrow

[2019-04-09 08:48] sl-coralieluzet commented on #166
Great :)

[2019-04-09 14:51] dmytrohridin opened #173 "Configurable connection pool size"
I think it make sense to have ability to configure size of connection pool size. What do you think?
PR done:
https://github.com/imperugo/StackExchange.Redis.Extensions/pull/172

[2019-04-28 20:54] jeroenpot opened #174 "Linq Exception on First connection"
I upgraded from 4.0.5 to 5.0.1 and while testing had no issues, but when i deployed to production environment i see these errors pop up:

System.InvalidOperationException: Sequence contains no matching element
at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)
at StackExchange.Redis.Extensions.Core.Implementations.RedisCacheConnectionPoolManager.GetConnection()
at Sta

[2019-04-28 21:01] jeroenpot commented on #174
The config i'm using also seems to be ok:
	"Redis": {
		"AllowAdmin": true,
		"Ssl": false,
		"ConnectTimeout": 6000,
		"ConnectRetry": 2,
		"SyncTimeout": 5000,
		"Database": 0,
		"Hosts": [
			{
				"Host": "host1.euw1.cache.amazonaws.com",
				"Port": "6379"
			},
			{
				"Host": "host2.euw1.cache.amazonaws.com",
				"Port": "6379"
			},
			{
				"Host": "host3.euw1.cache.amazonaws.com",
				"

[2019-04-29 06:50] imperugo commented on #174
I think the problem is here

https://github.com/imperugo/StackExchange.Redis.Extensions/blob/d093397e058e27f31772a369ca97db5426481f12/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheConnectionPoolManager.cs#L42-L46

But I didn't understand exactly why it happens

[2019-04-29 07:14] jeroenpot commented on #174
I also had a look at the code and i see not nothing strange there indeed. I'll see if i can dig further into this in a few weeks, my initial suspect is that the it's the first of these 2 linq statements, unexpected value given by the GetCounters().TotalOutstranding? Which results into the where clause not having a result.

[2019-04-29 07:15] imperugo commented on #174
is `IRedisCacheConnectionPoolManager` registered as singleton?

[2019-04-29 07:18] jeroenpot commented on #174
Yes it was (screenshot of my revert commit)
![image](https://user-images.githubusercontent.com/1733387/56881127-bc979980-6a5f-11e9-9b62-45a193204922.png)

[2019-04-29 07:21] imperugo commented on #174
Could you try something like this?

[code]

of course log also info like `GetCounters` and so on.
Thx

[2019-04-29 07:25] jeroenpot commented on #174
Thnx for the suggestion. Somewhere next week i hope to have some more time for dig into it. But i do need to find a way to reproduce the error on our staging environment, i'll see i can do that with our load-test of the application. If that is the case i can try you suggestion. Will let you know.

[2019-04-29 07:26] imperugo commented on #174
Thanks, appreciated

[2019-04-29 13:12] imperugo opened #175 "SimpleJson"
Could be useful to use SimpleJson https://github.com/facebook-csharp-sdk/simple-json/ as default serialized

[2019-05-02 07:19] dmytrohridin commented on #173
merged

[2019-05-02 07:19] #173 closed

[2019-05-02 11:26] ffMathy opened #176 "Migrating from StackExchangeRedisCacheClient to RedisCacheClient?"
I originally posted this at https://github.com/StackExchange/StackExchange.Redis/issues/1137 since I didn't know it was from this library instead.

StackExchangeRedisCacheClient is obsolete, so I am trying to migrate it to RedisCacheClient. However, we are currently creating a StackExchangeRedisCacheClient from a ConnectionMultiplexer instance, and there seems to be no constructor arguments for Re

[2019-05-02 12:35] imperugo commented on #176
Hi @ffMathy
the new version uses a connection pool in order to retrieve the best connection to the client.
For this reason you can't send the connection string to the RedisCacheClient but you have to use the `IRedisCacheConnectionPoolManager` (here https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheConnectionPool

[2019-05-03 15:45] imperugo commented on #166
5.0.2 is on nuget and should solve the problem.

Let me know

[2019-05-03 15:46] #166 closed

[2019-05-06 07:24] sl-coralieluzet commented on #166
Ok for me ;)

[2019-05-09 20:34] serhatkiyak opened #177 "Shared multiplexer configuration between different Redis clients"
We are using the latest version of the Nuget package (https://www.nuget.org/packages/StackExchange.Redis.Extensions.Core/5.0.2). We have logic to manage multiple Redis client instances for sharding. This works well with the obsolete StackExchangeRedisCacheClient type, however we noticed an issue when we updated the package and switched to use RedisDefaultCacheClient.

If we create multiple instanc

[2019-05-09 20:48] imperugo commented on #177
Hi,
thanks for the accurate feedback.
I think that the reason behind your problem is that the concurrent bag (used in order to cache the connections) is static.

see here:
https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheConnectionPoolManager.cs#L11

Tomorow I'll try you solution to have a confirmation of my id

[2019-05-20 04:36] oleg-varlamov commented on #174
Hi! I have the same problem in our system:
`System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)
   at StackExchange.Redis.Extensions.Core.Implementations.RedisCacheConnectionPoolManager.GetConnection()
   at StackExchange.Redis.Extensions.Core.Abstractions.RedisCacheClient.GetDb(Int32 dbNumber,

[2019-05-20 04:53] jeroenpot commented on #174
Have you tried to use the code @imperugo provided above to shed some light on the cause? I haven't been able to reproduce.

[2019-05-20 06:14] imperugo commented on #174
Rarely I got the same error, but didn't find a way to reproduce.
@oleg-varlamov if you can, please provider us more information will be very helpful in order to fix the bug.

For example where it happens exactly? into this:

[code]

or into the `else` statement?

Thanks

[2019-05-20 09:47] oleg-varlamov commented on #174
Slightly rewrote the code:
`public IConnectionMultiplexer GetConnection() {
			Lazy<ConnectionMultiplexer> response;
			var loadedLazys = connections.Where(lazy => lazy.IsValueCreated);
			var loadedLazysCount = loadedLazys.Count();
			if (loadedLazysCount == connections.Count) {
				var minValue = connections.Min(lazy => lazy.Value.GetCounters().TotalOutstanding);
				response = connections.First

[2019-05-20 09:54] imperugo commented on #174
Intresting.
I've some ideas. Could you tell me exactly how do you reproduce it?

Because just running it on my environment doesn't work, and I want to try different solutions

[2019-05-20 10:02] oleg-varlamov commented on #174
Redis is used in my project with large parallelism (about 200-300 simultaneous requests per second) like that:

[code]
and somewhere in the code:

`var state = await redis.SafeGetAsync<CashboxState>(cashboxId);`

There is nothing more special.

[2019-05-20 10:18] oleg-varlamov commented on #174
Wouldn't this search for a connection be more correct:
[code]

[2019-05-20 10:37] oleg-varlamov commented on #174
Or even:

[code]

[2019-05-20 15:53] imperugo commented on #174
Ok,
I'm able to reproduce the problem (running 1000 parallels task on my laptop I got the error).
The solution suggested by @oleg-varlamov work here

[code]

I'm going to release a new version in few minutes. Let me know it it works also for you (seems fine here)

[2019-05-20 15:59] imperugo commented on #174
5.0.3 is on nuget (wait few minutes for the cache)

[2019-05-21 08:22] oleg-varlamov commented on #174
My problem has been fixed after upgrading to version 5.0.3.

Thank you!

[2019-05-22 09:06] imperugo commented on #174
Seems to work also for me.
Going to close this issue.

Thanks to all

[2019-05-22 09:06] #174 closed

[2019-06-16 14:46] Exocomp opened #178 "Redis package conflict when using Microsoft.AspNetCore.SignalR.Redis"
Microsoft.AspNetCore.SignalR.Redis => StackExchange.Redis.StrongName (>= 1.2.6)
StackExchange.Redis.Extensions.Core => StackExchange.Redis (>= 2.0.601)

These two packages conflict with each other, what is a way to resolve this issue?

[2019-06-16 16:18] Exocomp commented on #177
@imperugo I had the same use case and ran into the same issue.

If I follow you correctly, I created two instances of `RedisCacheConnectionPoolManager` and two instances of `RedisCacheClient` each using the respective `RedisCacheConnectionPoolManager` instance.
 However, I see the same behavior as described initially.

[2019-06-16 18:55] Exocomp commented on #177
@imperugo The issue is what you highlighted with ConcurrentBag object (RedisCacheConnectionPoolManager) being static.  If you make it an instance then it resolves the issue in my testing.

Any idea why it was set to static? I'm not familiar with the code and not sure if that would introduce a side effect I'm not aware of.

[2019-06-16 23:52] Exocomp commented on #178
This is more of a general issue that is described here:  https://github.com/NuGet/Home/issues/4989

[2019-06-16 23:52] #178 closed

[2019-06-17 06:45] imperugo commented on #177
It's static because is service cache.
it it was an instance cache and you register the service as transient, it will be initialized every time to try to use the cache.

For scenarios like your I've created `IRedisCacheConnectionPoolManager`, so you can inject your logic.

[2019-06-17 14:16] Exocomp commented on #177
@imperugo

I agree if it was registered as transient, I guess it didn't cross my mind as I thought one would only want to register it as singleton (just my thoughts and use cases).  Any specific reason why you would want it transient (other than the normal use cases)?

The `IRedisCacheConnectionPoolManager` is one solution but perhaps there can be some built in design that could cater for multiple

[2019-06-24 20:52] shabirjan opened #180 "Get All Items from Cache"
I am adding items into cache like this

` foreach (var product in products.products)
                {
                    cacheClient.Add(product.productID, product);
                }`

Now I am looking a way to retrieve  all of Products stored in my redis cache instance. Is there any way to achieve this, keep in mind I do have scenarios in which I ll search items based on product ids. Similarly

[2019-06-25 01:37] george-weare8 opened #181 "Redis distributed lock"
Awesome library! Thank you for the work. I just want to make sure that I didn't miss it, does it support distributed locking?

[2019-06-25 09:02] imperugo commented on #181
Hi @george-weare8
thanks for the kind words. Right now we don't have support for distribuite locking but, if you want, a PR is very appreciated :-)

[2019-06-25 09:06] imperugo commented on #180
Hi @shabirjan
did you try the method SearchKeys? (into the readme there is an example)
Under the hood it runs a `SCAN` command (see documentation here https://redis.io/commands/scan) here (https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisDatabase.cs#L458-L486) my code.

Remember that this command iterates all server

[2019-06-25 09:10] imperugo commented on #177
Hi @Exocomp

Just to prevent that for an error (or because normal people don't read the documentation) register the service as transient and then open a bug :)
From my point of view I just leave opened the opportunity to use your custom caching layer just creating your `IRedisCacheConnectionPoolManager `. It doesn't seem wrong to me but I understand your point.

Let me think about an elengant solu

[2019-06-25 09:11] imperugo commented on #176
Hi @ffMathy
I'm going to close this issue. If you still need help, please write here or open a new issue.

Thanks

[2019-06-25 09:11] #176 closed

[2019-06-25 09:12] imperugo commented on #158
Hi @Henry-Keys
I'm going to close this issue because is old.
Please feel free to open a new one if is needed

[2019-06-25 09:12] #158 closed

[2019-06-25 10:00] shabirjan commented on #180
Ok So what would be another way to achieve what i am trying to do? I looked into SearchKeys, but the issue is my keys are totally random.

[2019-06-25 10:13] imperugo commented on #180
Another way it "change your architecture in order to omit the SCAN command" :-)
Jokes aside, I don't know what you are doing and why, so I can't give you the right suggestion.

[2019-06-25 10:17] shabirjan commented on #180
Ok Let me explain what I am doing.
So I have large number of Products which i am caching into Redis one by one by using Product ID as key.
Than I have 2 methods in my Web API, in one i am passing the ids to fetch that products from cache. And in another I am supposed to return all products from Cache like all of it. So for scenario 1 , i have no issues but for scenario 2 I am stuck.

[2019-06-25 18:08] george-weare8 commented on #181
OK, I have to dig deeper how to orchestrate this. I'll do my best to help in my free time.

[2019-06-25 18:35] alexeyzimarev opened #182 "Easier configuration"
I am trying to understand why `RedisConfiguration` is so complex. In StackExchange.Redis I use `ConfigurationOptions.Parse`, which accepts some sort of a connection string. It allows me to have one simple line in the settings file, which I can be easily replaced by an environment variable.

The current implementation of `RedisConfiguration` forces me to use a complex object in the config file that

[2019-06-25 20:19] shabirjan opened #183 "Unable to Connect To redis cache"
I am trying to connect my Azure Redis Cache inside Visual Studio, But I am getting following error.
`RedisConnectionException: UnableToConnect on db30.redis.cache.windows.net:6379/Interactive, Initializing/NotStarted,`

And this is how I am trying to connect to redis
[code]

I have also tried that appsettings.json way as well, and getting the same error.
Am I missing any step for connecting to Azu

[2019-06-26 07:29] imperugo commented on #182
Hi @alexeyzimarev
from my point of view this:

[code]
is not a complex object, moreover, always from my point of view, is more readable of a connection string with several hosts, each host with different ports and so on.
With this premise, I partially understand your point and I can agree that the user, if he prefer, would be nice to allow the user to use his  `ConfigurationOptions` instance or us

[2019-06-26 07:34] imperugo commented on #183
Hi @shabirjan
looking the error message the problem doesn't seem related to my library. The message comes from StackExchange.Redis and not StackExchange.Redis.Extensions.

When you write "inside Visual Studio" what you mean exactly? Debug? If you run it from a console application does it work?
Could you share the code of your `RedisCachePoolManager` class and your connection string?

Thanks

[2019-06-26 07:45] shabirjan commented on #183
Ok, What i mean by inside Visual Studio is Debugging my Web App locally inside Visual Studio.
Yes Console does work but not inside Web Project (.Net Core)
Connection String is : ```var redisConnString = "db30.redis.cache.windows.net:6380,password=mypass=,ssl=true,abortConnect=False";```

and `RedisCachePoolManager` is
[code]

[2019-06-26 08:25] alexeyzimarev commented on #182
I agree that it is very readable and for a flow with configuration files per environment, it might be a nice solution.

Our pipeline is set up to deploy apps in k8s and we use k8s application secrets to give pods the environment-specific configuration. The application secret is created by the CI pipeline. So, when it is a one-liner, the environment variable is easy to set up. For a complex object,

[2019-06-26 08:34] imperugo commented on #182
You want a "more elegant" solution (that is not a workaround) you could create your instance of `IRedisCachePoolManager` and register into your DI framework.
In this case the library will use your instance instead of mine.

You class could be something like this:

[code]

Does it makes sense to you?

Note: the example above doesn't handle a connection pool, my implementation does

[2019-06-26 08:43] alexeyzimarev commented on #182
I agree that the code above would work in case I use the container, but it's not always the case. Overall, I avoid using the container unless I absolutely have to. I will look at the `RedisConfiguration` usage closer, maybe will come up with some suggestions. Thanks!

[2019-06-26 09:00] imperugo commented on #182
If you don't want to use a container you don't have to use it.
Just use the new keyword and send your instance manually. It works well

[2019-06-28 11:46] #183 closed

[2019-07-08 19:09] dmytrohridin commented on #180
@shabirjan Redis works in another way. You need to use SearchKeys, because every item in Redis stored by some key. I had similar challenge. Let me explain.
It's not required to pass whole key to method. SearchKeys can works with part of key (just look to documentation of this method).
So for exmple you have enitity Product - define that each key for this entity should start for "product:{some_guid

[2019-07-16 17:46] lucasmarzetti commented on #82
Sorry, but https://github.com/imperugo/StackExchange.Redis.Extensions/issues/61 doesn't seem to be realted to this issue. Am I missing something? Thanks

[2019-07-25 04:33] Sandeep321 commented on #183
Is it resolved? I am facing the exact same issue.

[2019-07-25 07:35] shabirjan commented on #183
@Sandeep321  yes the issue was not related to code or any configuration. Instead the port was blocked on my system due to which i was not able to connect to my Redis Instance.

[2019-07-25 10:50] humayun-ahmed opened #184 "Any package of StackExchange.Redis.Extensions.Core 5.0.3 for .Net Legacy framework (4.6.*))?"
Latest version have only .Net Standard library. But our projects are little bit legacy which is using 4.62 and can't update right now. But we need the new functionalities like IRedisCacheConnectionPoolManager.

Error when was going to install:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'StackExchange.Redis.Extensions.Core 5.0.3'. You are trying

[2019-07-25 15:56] imperugo commented on #184
Hi,
as far as I remember .netstandard 2 should be compatible with .net fw 4.6.2.
Doesn't it?

[2019-07-26 06:29] humayun-ahmed commented on #184
Hi,
Yah, it should be, even I have tried with empty application of 4.7 and 4.8, it also failed with same exception, when I compare two versions's package folder of  StackExchange.Redis.Extensions.Core, I have seen 4.0.5 contains all the folders like lib\netstandard2.0, lib\net472, lib\net461 but version 5.* like 5.0.3 contains only lib\netstandard2.0

[2019-07-26 06:47] imperugo commented on #184
I got why.
The 4.0.5 has a multiple target framework

[code]

instead of
[code]

used on the 5.x

This is caused because I'm building the library from mac where is not possible to build .NET FW.

Let me try to restore multiple framework trarget and build it from windows.
Soon news

[2019-07-26 07:41] humayun-ahmed commented on #184
Thanks

[2019-07-29 17:51] kgoderis opened #185 "Hitting Azure connection limit / pruning closed Redis connections"
Using 5.0.3's RedisCacheConnectionPoolManager on an Azure app with a App Plan that dynamically scales the number of hosts/instances, and whereby each host creates a static RedisCacheConnectionPoolManager, I noticed that closed Redis connections (resulting from the App Plan tearing down a host/instance), are not pruned by the Azure Redis server. For example, if having a ThreadPool of 100, and havin

[2019-07-30 05:48] yyliuliang opened #186 "RedisConfiguration issue in Azure Function"
Hi, thanks to StackExchange.Redis.Extensions, it feels great to manage cache with Redis in .net core projects(webapi, mvc site) except Azure functions.
as I know,local.settings.json only supports "Values" and 'ConnectionStrings" sections on Azure hosted environment
https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings
so I am just wonderin

[2019-07-30 06:38] imperugo commented on #184
It is on nuget.
Let's give it a try.

[2019-07-30 06:42] imperugo commented on #186
Hi @yyliuliang
allow the developer to use the connection string instead of json is something that more people asked me, so probably the idea makes sense.

I need to figure out the best way to introduce it without breaking changes (or keep the changes a small number).

For sure is something on my backlog, but for now I don't have a ETA.
Of course if you have an idea, a PR is better, I'll catch it.

[2019-07-30 07:12] humayun-ahmed commented on #184
Thanks. Its working :)

[2019-07-30 07:12] #184 closed

[2019-07-31 05:38] yyliuliang commented on #186
@imperugo
the point is it thrown exception when bootstrap on Azure function, so I can't remote debug for furthermore.
so back to use Exchangestack.Redis alone, it is ok now
anyway, thanks for reply

[2019-07-31 10:19] imperugo commented on #186
You can still create an instance of you configuration without use a json class but store the single information into you appsettings.
In this way it will work also on Azure Functions

[2019-07-31 16:28] robertmujica opened #187 "No connection is available to service this operation"
Recently we start seeing lot of following entries in our log files:

version we are using is stackexchange.redis.extensions.core\4.0.3

code in our side is as follow:

protected void Run<T>(Action<StackExchangeRedisCacheClient> action)
        {
            using (var client = new StackExchangeRedisCacheClient(_serializer, _redisConfiguration))
            {
                action(client);

[2019-08-06 10:59] robertmujica commented on #187
Closing as it was a DNS issue in our side.

[2019-08-06 10:59] #187 closed

[2019-08-07 18:00] jesuissur opened #188 "Ability to configure ConnectionMultiplexer's PreserveAsyncOrder to false"
Hi there

We would like to use this library and get the connections pool benefits.  However, before anything else, we should be able to deactivate the `PreserveAsyncOrder` on the `ConnectionMultiplexers`.

Would you be opened to have a PR about a new configuration option about this one?

Thank you very much
Phil

[2019-08-07 18:20] jesuissur commented on #188
Forget it.  In the latest StackExchange.Redis, it is always false.  All we need

[2019-08-07 18:20] #188 closed

[2019-08-11 07:15] oTcom opened #189 "Add IRedisDatabase.SetContainsAsync"
HI,
Will it be possible to add IRedisDatabase.SetContainsAsync(string key, Type type) on IRedisDatabase interface.

[2019-08-11 20:53] nhaberl opened #190 "Support for Redis streams"
Hey,

Is there a Plan for supporting also redis streams in Future?
Would be great, its now in core for a Chile

[2019-08-14 15:19] imperugo commented on #189
Hi @oTcom
thanks for the suggestion.

I'll check it. If it is urgent, please open a PR.

Thanks

[2019-08-14 15:20] imperugo commented on #190
Hi @nhaberl
thanks for the suggestion.

I'll check it. If it is urgent, please open a PR.

Thanks

[2019-08-16 14:41] gri4 commented on #177
Hi @imperugo, sorry to disturb.  I have the same issue as @Exocomp.. Any updates on this, please?

[2019-08-20 13:52] dmytrohridin commented on #185
@kgoderis since this repository is just extensions - how it could be done via StackExchange.Redis?
Maybe it make sense first to try to do this without extensions?

[2019-08-20 13:56] imperugo commented on #185
Hi @kgoderis
what @dmytrohridin is saying is correct.
This is just a wrapper of the `StackExchange.Redis`. I can do only what the main library allows me to do.

If you know how to do what you are saying using `StackExchange.Redis` I can implement something here.

Let me know
Thanks

[2019-08-20 14:17] kgoderis commented on #185
@imperugo @dmytrohridin well, I was referring to https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheConnectionPoolManager.cs e.g. it could be the role of the poolmanager to clean out these connections

On a separate note, when I configure the pool to be of size [N], then I notice that Azure is accounting 2 x [N]

[2019-08-20 14:27] dmytrohridin commented on #185
@kgoderis maybe try to look at this
https://gist.github.com/JonCole/925630df72be1351b21440625ff2671f#file-redis-lazyreconnect-cs

[2019-08-22 00:29] humayun-ahmed opened #191 "Deadlock in GetConnection()"
In the following code, async method called with  .Result (response.Value.Result) which results deadlock because it'll hang for Synchronization context, either it needs to call by asynchelper.runsync to make it sync call or let it be async

RedisCacheConnectionPoolManager.cs

public IConnectionMultiplexer GetConnection()
        {
            Lazy<Task<ConnectionMultiplexer>> response;
	        var

[2019-08-23 07:43] imperugo commented on #191
Hi,
thanks for the PR.
To be host the async method used for the connection is my mistake.
I just was trying it and I pushed it into the master (big mistake).

The method is sync and there is no way to use the `ConnectionMultiplexer.ConnectAsync` instead of `ConnectionMultiplexer.Connect`.

Probably I should move the method to be totally async (I Just deprecated all the sync methods).

[2019-08-25 08:15] shamohai opened #193 "Deadlock in sync GetAwaiter().GetResult() or Result"
Code:
[code]

asp.net mvc  web.config
[code]
Use sync GetAwaiter().GetResult() or Result is deadlock? In the property（Unable to use async） or function,use sync is dead.
Need extra configuration?

[2019-08-26 11:28] imperugo commented on #191
Just pushed an update.

Thx

[2019-08-26 11:28] #191 closed

[2019-08-26 11:31] imperugo commented on #193
Hi @shamohai
sorry but I don't understand your problem.
Do you have a deadlock? Where? How can I reproduce it?

If you are in a sync method and you are calling a async method `GetAwaiter().GetResult()` is the best solution.

Let me know exactly what's your problem.
Thanks

[2019-08-26 12:45] MisterY commented on #191
Great! I can confirm that 5.1.2 resolves the problem with getting the connection.

[2019-08-26 13:28] imperugo commented on #185
Let me do some tests

[2019-08-27 02:10] shamohai commented on #193
Hi @imperugo ,my English is not very good.
Because of the next version, the methods called synchronously are all removed, so I am now changing to an asynchronous method. Some in the property, can not use the asynchronous method, I changed the asynchronous method to a synchronous call.

Create a new asp.net mvc (vs2017) project and upgrade all referenced dlls to the latest version.
web.config
![201

[2019-08-27 02:34] shamohai commented on #193
![20190827103034](https://user-images.githubusercontent.com/7419781/63736472-c74f2780-c8b5-11e9-9a42-232cbd58f64f.png)
I am using StackExchange.Redis.Extensions.Core 5.1.0 to make a synchronous call without any problems.

But I am getting an error on line 47 when I use the StackExchange.Redis.Extensions.Core 5.1.2 synchronous call.

ERROR:
StackExchange.Redis.RedisTimeoutException:“Timeout perform

[2019-08-27 06:40] muhamad-ahsan commented on #185
@imperugo I have also noticed the 2X connection even on the local. I don't know the reason; maybe separate connection for Admin commands? Please let me know how this can be disabled before I adopt the new version for the PRODUCTION.

[2019-08-27 07:16] imperugo commented on #193
Weird ... could you try the latest version of the package? (5.1.2).
Let me know

[2019-08-27 07:56] shamohai commented on #193
1.
var added = redisClient.GetDbFromConfiguration().AddAsync("dt_Key", dtNow).GetAwaiter().GetResult();
Use  5.1.2,  When debugging, the code will always be stuck in line 31 and cannot continue to execute downward.

2.
 var added = redisClient.GetDbFromConfiguration().Add("dt_Key", dtNow);
use  5.1.2
ERROR:
StackExchange.Redis.RedisTimeoutException:“Timeout performing SET (0ms), active: SET dt_Key

[2019-08-30 02:02] hw901013 opened #194 "Add SortedSetIncrement Founction"
Hi Dear：
When use Redis Sorted, in business Scenes, need Increment add score. I'll add such code and send to your review.
Code like : Database.SortedSetIncrement()
thanks
Hulk

[2019-08-30 11:29] imperugo commented on #194
Hi @hw901013
thanks for the request.
Dunno when I can do that. If you need it urgently, the PR is the best way, otherwise I'll do my best, but don't know when.

Thanks

[2019-08-30 11:29] imperugo commented on #193
Seems weird.

Do you have a console app or a demo app that reproduce the problem?

I just tried but it works here

[2019-08-30 11:38] hw901013 commented on #194
hi,thank for your feedback. When i finish i’ll share with your.

[2019-08-30 13:36] hw901013 commented on #194
hi @imperugo  i check in it, please review

thanks

[2019-09-01 15:22] imperugo commented on #194
Merged and published on Nuget (version 5.2.0)

Thanks

[2019-09-01 15:22] #194 closed

[2019-09-02 03:42] shamohai commented on #193
ConsoleApp
The app.config configuration is the same as the web.config configuration.
![20190902113012](https://user-images.githubusercontent.com/7419781/64088654-11804f00-cd75-11e9-975c-4e9b03d1e7bb.png)

Sync:
![20190902103306](https://user-images.githubusercontent.com/7419781/64088588-bb131080-cd74-11e9-9444-64428cabe32e.png)
This new version 5.2.0 is error.

![20190902112534](https://user-image

[2019-09-02 06:22] shamohai commented on #193
asp.net mvc
web.config
![20190902135319](https://user-images.githubusercontent.com/7419781/64092914-13540d80-cd89-11e9-853a-9e3ddb65be61.png)

**sync**
![20190902135448](https://user-images.githubusercontent.com/7419781/64092978-45656f80-cd89-11e9-89e1-5c12f1e730c2.png)
![20190902135826](https://user-images.githubusercontent.com/7419781/64093140-c290e480-cd89-11e9-888c-ea35c6eda1be.png)
Version 5.

[2019-09-02 08:59] imperugo commented on #191
Don't remember the number, but use the latest one :-)

[2019-09-05 08:27] kgoderis commented on #185
Any success?

[2019-09-07 18:42] ejmarino opened #197 "IRedisDatabase Publish & Subscribe Channel aren't included in Keyspace isolation"
I'm sharing Redis between different instances of the application, and every one of then must run independently one of each other.
Setting up a KeyPrefix at startup time i'm sure that the application code has no way of entering another keyspace and make a mess.
I was expecting that the same occurs with the pub/sub service of redis. I'd checked the code of RedisDatabase and the channel name I enter

[2019-09-07 19:03] ejmarino commented on #197
Looks like if you set `redisConfiguration.ConfigurationOptions.ChannelPrefix = redisConf.KeyPrefix` then you have your setup completely isolated within a keyprefix.
I Think this should be set by default. but this is my opinion.

[2019-09-09 17:40] humayun-ahmed opened #198 "Any way to provide own SocketManager in ConfigurationOptions?"
Hello,
Currently there is no way to inject SocketManager in ConfigurationOptions which is used by ConnectionMultiplexer

[2019-09-09 17:42] #198 closed

[2019-09-09 17:42] humayun-ahmed commented on #198
removed

[2019-09-14 15:03] kgoderis commented on #185
@imperugo With the Console now in Preview on Azure, I was able to do a client list, and effectively, the library does create 2 x the number of clients.

[code]

The difference between the "twins" is that one has sub = 1, the other sub = 0 (e.g 1 and 0 channel subscriptions(,  and one is had cmd=ping, the other cmd=info as last command.

When you actually watch the monitor, one can observe that one

[2019-09-16 07:45] imperugo commented on #185
Hi @kgoderis I've the same situation using redis on AWS.
To be honest I've no idea why it happens, but is not handled by this library. Probably the good place to ask that is the StackExchange.Redis respository

[2019-09-16 11:45] kgoderis commented on #185
@imperugo Per discussion here https://github.com/StackExchange/StackExchange.Redis/issues/1228, can you make the ConfigurationOptions field of RedisConfiguration writable, or alternatively, include an additional configuration parameter maps onto ConfigurationChannel ?

[2019-09-16 11:55] muhamad-ahsan commented on #185
@kgoderis I tried both the suggestions, disabling the **SUBSCRIBE** command and also setting the **ConfigurationChannel = ""** but still the same issue - there are 2x connections. @imperugo could you please double-check if **ConfigurationChannel = ""** is taking into consideration in the pool manager?

[2019-09-16 15:06] imperugo commented on #185
@kgoderis I'll try to extend the configuration allowing you to specify the ConfigurationChannel (string.empty instead of null as far as I understood).

@muhamad-ahsan the pool manager uses the ConfigurationOptions, so there is no way right now to chnage the ConfigurationChannel. I'll do something

stay tuned

[2019-09-17 08:00] muhamad-ahsan opened #199 "No server found to serve the KEYS command"
@imperugo I got this error **No server found to serve the KEYS command.**  for the method `cacheStore.SearchKeys("*")`. Could please have a look into this?

[2019-09-18 07:17] oTcom opened #200 "ConfigureStackExchangeRedisExtensions is not working with .NET Core 3"
IWebHostBuilderExtensions is not working with .NET Core 3。Do you have plans to upgrade in the near future?

[2019-09-18 10:26] BlazingMagpie opened #201 "StackExchangeRedisCacheClient GetAsync with expiry time always return default value."
StackExchangeRedisCacheClient methods `GetAsync<T>(string, DateTimeOffset, CommandFlags)` and `GetAsync<T>(string, TimeSpan, CommandFlags)` always return default value instead of value at given key. Documentation declares that it returns value at a given key instead of default value.

[2019-09-19 14:27] imperugo commented on #200
Let's wait the RTM next week.
But yes and I'm going to add also the new System.Text.Json serializer

[2019-09-20 20:07] samuelt1 opened #202 "SubscribeAsync with bad data fails"
I am subscribing with SubscribeAsync and using `new NewtonsoftSerializer()` to serialize the data. The problem I have found is that the serializer will fail if I pass in bad data to the publish method. The failure happens inside newtonsoft so it critically fails the whole app. I don't know how to tell subscribe to not unserialize the data. I want to just take the data and pass it forward as a stri

[2019-09-22 14:01] imperugo commented on #202
Hi @samuelt1
could you provide more information?
As far as I understood is not a problem with this library, but the data you are trying to serialize has something that doesn't work well with Newtonsoft.
My suggestion is to investigare on internet about your serialization problem or open an issue to NewtonSoft repo.

[2019-09-23 08:23] muhamad-ahsan commented on #199
@imperugo Any update on this issue? Currently, this is the show stopper for me.

[2019-09-23 08:23] imperugo commented on #199
Hi @muhamad-ahsan
not yet sorry. busy period.
Will be good a PR if you need it soon

[2019-09-23 08:28] muhamad-ahsan commented on #199
I did not get the following:

[2019-09-23 08:38] imperugo commented on #199
Me too :-)

[2019-09-23 23:33] samuelt1 commented on #202
The surface issue is definitely with Newtonsoft, but I don't want to use NewtonSoft always. I want to instead set a flag on the call like this `_redisClient.PublishAsync("foo", "HI",{serialize: false});` That way if I am going to pass just a string to the publish or subscribe, the redisClient will just do nothing.

[2019-09-24 06:43] imperugo commented on #202
In this case you can skip my library. Use the `.Database` property and you have all the StackExchange apis.

[2019-09-27 12:06] juancuellor commented on #180
Your concept is wrong. You are using Redis like a database but it isn't. Perhaps you can use SetAdd to add an item to an item list. In this way, you can retrieve all the products using a unique key.

[2019-09-29 06:23] oTcom commented on #200
Hi@imperugo
  Recent updates to the .NET Core 3 plan?

[2019-09-29 19:25] imperugo commented on #200
Sure, I've installer the SDK's :-)

[2019-09-30 03:26] oTcom commented on #200
Looking forward to updates as soon as possible, the project upgrade. netcore3.0 :-)

[2019-10-09 19:45] imperugo commented on #201
OMG!!!
Fixing right now!!

[2019-10-09 19:46] imperugo commented on #202
Closing this issue because the issue is not related to this library.
Feel free to open a new one if you need more support

[2019-10-09 19:46] #202 closed

[2019-10-09 19:47] imperugo commented on #186
Going to close this issue.
Feel free to open a new one in case you need more support.

Thanks

[2019-10-09 19:47] #186 closed

[2019-10-09 19:48] imperugo commented on #180
The solution suggested by @juancuellor makes lot of sense to me.

Closing this.
Feel free to open a new one in case you need more support.

Thanks

[2019-10-09 19:48] #180 closed

[2019-10-09 19:51] imperugo commented on #197
Hi @ejmarino
thanks for the question and the suggestion.
I'm going to plan a big refactor on that part and I'll cover your scenario in the next major.

I keep this issue open so you can see the progress.

Thanks

[2019-10-09 19:56] imperugo commented on #199
I just wrote this unity test

[code]
and the search with only the `*` works to me.

[2019-10-09 20:04] imperugo commented on #201
5.3.0 is on nuget and fix this issue.

Thanks again

[2019-10-09 20:04] #201 closed

[2019-10-09 20:04] imperugo commented on #185
5.3.0 is on nuget and include the ConfigurationChannel property.

Please take a try and let me know

[2019-10-10 13:55] muhamad-ahsan commented on #185
Hi,
I just tried with 5.3.0 version, setting the ConfigurationChannel value to empty string as well as null, but no change in the number of connections. It is still the double... :(

[2019-10-10 14:04] muhamad-ahsan commented on #199
I tried again with version `5.3.0` and no success. I am using `cacheClient.GetDbFromConfiguration().SearchKeysAsync("*")` where `cacheClient `is an instance of `RedisCacheClient`.

[2019-10-13 06:23] muhamad-ahsan commented on #199
@imperugo I tried to dig further and found the reason why it is not working.... :)... Actually I am blocking some commands and one of them was `INFO`.

`config.ConfigurationOptions.CommandMap = CommandMap.Create(new HashSet<string>
{
    "INFO",
    "CONFIG"
}, available: false);`

When I removed the `INFO` then it started to work. But the same code is working fine with the previous version.... :(

[2019-10-16 06:07] sun51586 opened #204 "Add Key Size Limit"
Thank you for the work.I just want to set the max value size in the Add<T>(string key,T value) method, can you implement it?
Thanks.

_For Example:_
public bool Add<T>(string key, T value)
{
    var entryBytes = Serializer.Serialize(value);
    if(MaxStringValLength>0&&entryBytes>MaxStringValLength)
    {
        return false;//throw new Exception($"value it too long.Must<={MaxStringValLength} byt

[2019-10-17 21:08] imperugo commented on #204
Hi @smariussorin
this is something I'm evaluating for a similar scenario. I'll take a look

[2019-10-24 10:35] refex commented on #115
Hi @imperugo, I was reading the `SearchKeys `implementation with the SCAN command and was wondering why the commend is executed on `this.Database` and not on the current `server`:
[code]

[taken from here](https://github.com/imperugo/StackExchange.Redis.Extensions/blob/dfd95a607eadc1d8ff31ce7315ed649385df79e2/src/StackExchange.Redis.Extensions.Core/Implementations/RedisDatabase.cs#L459)

`server`

[2019-10-30 07:41] imperugo commented on #115
Hi @refex
honestly I don't remember, this part of the code is old. If you send a PR with an improvement, I'll be happy to merge it.

Thanks

[2019-10-30 07:50] msmolka commented on #177
if it was an instance cache and you register the service as transient, it will be initialized every time to try to use the cache.

@imperugo but isn't it idea behind transient. Transient means every tiem separate instance - no cache. If I want cache I use singleton.

[2019-10-30 07:55] imperugo commented on #177
Use `RedisCacheConnectionPoolManager` is silly because you have to create a new pool each time you create an instance of it (new pool, new connctions and so on).
To prevent this the bag is static.

The good part is that you have an interface and you can implement your own logic if you don't like this. Another good part is that you can send a PR with your implementation and hope that it will be mer

[2019-10-30 09:12] msmolka opened #205 "RedisCacheClient ignores keyPrefix"
`RedisCacheClient` `Db` implementation should use keyprefix.
Currently keyprefix is ignore in `IRedisCacheClient` implementation.

[2019-10-30 09:28] msmolka opened #206 "Migrate from StackExchangeRedisCacheClient and make RedisDatabase public"
Currently I'm trying to migrate from `StackExchangeRedisCacheClient`. I'm using my own holder to share connection between interfaces and implementations. The simplest way would be migrate ICacheClient to IRedisDatabase however `RedisDatabase` is internal.

[2019-10-30 11:04] msmolka opened #207 "Please do not remove not async methods"
There are still places where sync code is required, e.g from contrustor when on error you need to clear cache or populate during ddependency injection. DI factory is not asynchronous.

[2019-10-30 12:21] imperugo commented on #207
What about to do `DoSomethingAsync().GetAwaiter().GetResult())` ?

[2019-10-30 12:23] msmolka commented on #207
With OLD mvc and sychronization context it will be deadlocked then, because none of the methods has `ConfigureAwait(false)`, which is not required in ASPNET Core

[2019-10-30 12:31] imperugo commented on #207
If you are using an old versione of MVC you can use and old version of this library. Y
it has sync methods and expose the Database object from the main library (StackExchange.Redis) that allows you to do everything.

Doesn't seem so bad to me.
Maintain sync methods has more cost that benefits

[2019-10-30 12:37] msmolka commented on #207
So maybe have separate interface and separate class to keep it as it is. By OLD I mean ASP NET MVC not core is still maintained. It would be good to have possibility to use it, even by separate interface and implementation. with only current ones not extending it.

[2019-10-30 13:19] rushfrisby commented on #207
+1

[2019-10-30 14:50] msmolka commented on #207
There is another place. In ASP NET MVC views (.cshtml) you cannot use asynchronous code.

[2019-10-31 06:47] msmolka opened #208 "RedisCacheClient and RedisDefaultCacheClient creates instance of RedisDatabase on each query"
`GetDb` and `GetDbFromConfiguration` creates instance of `RedisDatabase` on each query. Shouldn't it be cached to each DB type?

[2019-11-01 15:46] davemcdermid opened #209 "RegisterProfiler support with RedisCacheConnectionPoolManager"
The RedisCacheConnectionPoolManager doesn't allow an easy way to register a profiler on the ConnectionMultiplexer. It would be nice if the RedisCacheConnectionPoolManager allowed a profiler to be registered that it then registered with all ConnectionMultiplexers it instantiates.

Happy to raise a PR for this if you think this is the best way to solve the problem

[2019-11-01 15:48] imperugo commented on #209
Hi @davemcdermid
didn't understand what you mean. Could you provider more information?

Thanks

[2019-11-01 15:52] davemcdermid commented on #209
We currently use StackExchange.Redis.ConnectionMultiplexer.RegisterProfiler() to profile Redis calls. When using the RedisCacheConnectionPoolManager there is no easy way to call this on every ConnectionMultiplexer becuase it doesn't expose any methods to enumerate all connections it holds or to allow RegisterProfiler() to be called after it lazily creates a new ConnectionMultiplexer.

To ask the q

[2019-11-01 16:29] imperugo commented on #209
Hi @davemcdermid
that's more clear now.
Unfortunately there isn't a way right now to call `RegisterProfiler` for all connection used by the pool manager.
Need to implement it order to expose that for each present connection.

If you would open a PR will be very apreciated, otherwise I'll do my best to add it as soon as I can

[2019-11-01 16:39] davemcdermid commented on #209
No problem - got it working locally so will try and get a PR up next week

Thanks

[2019-11-06 06:42] mtinbox opened #211 "Downgrade StackExchange.Redis dependency version"
After updating to the latest version of your library (5.3.0), our StackExchange.Redis package was automatically updated to 2.0.601, since you have listed that as a dependency.  However, we immediately started experiencing this issue: [RedisConnectionException: No connection is available to service this operation](https://github.com/StackExchange/StackExchange.Redis/issues/1120).

The work-around,

[2019-11-06 11:37] imperugo commented on #208
Could be possibile but why?
Do you think removing a `new()` without logic but just assigning values, will improve the performances?

Caching the instances means work with something like ConcurrentBag, not sure you will be faster.

[2019-11-08 15:23] ubertil opened #212 "Add support for .Net Core 3.0"
Currently, there is no support for .NET Core 3.0.

The following example throw an Exception at startup :

    // Startup.cs
    public void ConfigureServices(IServiceCollection services)
    {
        services.AddControllers();
        // Add Redis Cache
        services.AddStackExchangeRedisExtensions<Utf8JsonSerializer>(new RedisConfiguration
        {
            AbortOnConnectFail = false,

[2019-11-08 15:28] msmolka commented on #208
Every time accessing cache new instance redisdatabase is created. Isn’t it a bit over the top. Shouldn’t it be created only first time and then reused?

[2019-11-11 10:10] RetroCoder opened #213 "Many timeouts"
Recently my customer increase the number of devices connected to our system which has caused the number of calls to redis to increase. This equates to may be 20 calls a second and isn't having a massive effect on the redis server which is only using minimal amounts of cpu and memory. What I am seeing though is a sudden jump in time outs. I believe I have setup the MIN values for IOCP and Worker, s

[2019-11-14 07:57] imperugo commented on #212
I'll take a look

[2019-11-15 07:43] msmolka commented on #193
isn't it related to `SynchronizationContext` in old MVC. You should `ConfigureAwait(false)` before getting result I think. Synchronous is working, but async won't on the places where context is required.

[2019-11-18 12:18] dmytrohridin commented on #213
Hello @RetroCoder
Actually this is not issue of this library, because this library only some kind of wrapper for https://github.com/StackExchange/StackExchange.Redis

Timeouts also depends on environment that you use for redis - Azure Redis Service and etc.
Also you can try this approach - some time ago it helps me
https://gist.github.com/JonCole/925630df72be1351b21440625ff2671f#file-redis-lazyrec

[2019-11-21 13:20] #204 closed

[2019-11-22 13:29] imperugo commented on #213
Exactly.
the timeout is not related to this library.
The link suggested by @dmytrohridin  is a good start. I've same problem in one of my applications and I've fixed it increasing the numeber of thread in ASP.NET Core doing this

`ThreadPool.SetMinThreads(150, 150);`

Of course the value is something you have to test and adjust

[2019-11-22 13:37] #212 closed

[2019-11-22 13:38] imperugo commented on #212
Fixed, just pushing on nuget

[2019-11-22 13:39] imperugo commented on #209
Just merged you PR.
Thanks again,

On nuget in a couple of minutes

[2019-11-22 13:39] #209 closed

[2019-11-22 13:39] imperugo commented on #208
Yes, I know.
But I still don't see the problem with that.

Are you telling me that you application is going slow because of this?

[2019-11-22 13:41] ubertil commented on #212
Thank you !
I originally overcome this issue using dependency injection but this wasn't as clean as I wish it was.

[2019-11-22 13:42] imperugo commented on #200
Just pushed an update that works on core3.

Soon on nuget.

Thanks

[2019-11-22 13:42] #200 closed

[2019-11-22 13:43] imperugo commented on #206
Done.

Soon on nuyget

[2019-11-22 13:43] #206 closed

[2019-11-22 20:14] davemcdermid commented on #209
Great, thanks!

[2019-11-24 08:06] msmolka commented on #208
Maybe not, but looks “dirty” for me. And can be dangerous with custom `IRedisDatabase` implementation. Especially with `IDisposable` extension.

[2019-11-25 10:19] imperugo commented on #208
the point is that create a sort of `cache` for RedisDatabase instances means create something thread safe that also means use lock object or thread safe containers.

If you have a better solution for this, please share it, I'll be happy to implement it (or better, send a PR).

[2019-12-02 08:44] msmolka commented on #206
Is it done public, I'm seeing `RedisDatabase` internal.

[2019-12-04 14:31] Pajansson commented on #205
I have the same issue, did you find a work around?

[2019-12-05 07:37] imperugo commented on #205
I'll take a look today

[2019-12-09 15:10] dmytrohridin commented on #189
if not objection - will add this command

[2019-12-09 15:55] dmytrohridin commented on #189
Done https://github.com/imperugo/StackExchange.Redis.Extensions/pull/215

[2019-12-09 16:53] wilson0506 opened #216 "increment serialized hash/set"
Hi,
I am new to redis, but looking at the look, I found that the object will serialized into json format and stored. In this case, how we can increment the field in hashset?
1. get and deserialize it
2. increment by 1
3. serialize and save back?

Cheers,
Wilson

[2020-01-09 09:36] dmytrohridin commented on #216
Hello @wilson0506
Redis does not support some kind of update operation. Also [StackExchange.Redis](https://github.com/StackExchange/StackExchange.Redis) and [StackExchange.Redis.Extensions](https://github.com/imperugo/StackExchange.Redis.Extensions) too. So for update operation you need to get data, update locally and then save it.
Hope this will help

[2020-01-23 13:30] Pajansson commented on #205
@imperugo Any updates on this one? :)

[2020-01-31 19:16] WarrenFerrell opened #218 "Add GenerateDocumentationFile to project files"
Nuget releases don't contain the xml comments because GenerateDocumentationFile is missing from the csproj files need the following in the first propertyGroup

`
    <GenerateDocumentationFile>true</GenerateDocumentationFile>
   <DocumentationFile>bin\$(Configuration)\$(TargetFramework)\$(AssemblyName).xml</DocumentationFile>
`

[2020-01-31 19:22] rushfrisby commented on #218
Can you submit a PR for it?

[2020-01-31 19:24] WarrenFerrell commented on #218
@rushfrisby yes.

[2020-02-01 17:15] imperugo opened #219 "Announcing v6"
I've just pushed a branch called [v6](/imperugo/StackExchange.Redis.Extensions/tree/v6) that introduces a big refactor of the library with several breaking changes.

- There are no more sync methods, only async;
- ICacheClient was deprecated in the previous versions, now is gone;

What's new:

- [x] Added all the things in order to run the project also from OSX/ Linux;
- [x] Async optimizations (r

[2020-02-01 23:11] rushfrisby commented on #219
I'll take a look in the next week or so

[2020-02-03 12:35] dmytrohridin commented on #219
Will take a look this week I believe

[2020-02-03 17:12] dmytrohridin commented on #219
Some time ago I have an issue with async in Parallel.ForEach. Seems it's not recomended to use
https://codereview.stackexchange.com/a/187228
Maybe it make sense to use Task.WhenAll instead of Parallel.ForEach

Also there is some methods in StackEx Redis that does not support async api, i.e. HashScan.
So i do not sure if it's good idea to wrap in in Task.Run or Fcatory to emulate async behavior. Ma

[2020-02-03 20:11] imperugo commented on #219
Nice feedback @dmytrohridin I'll try to implement your feedback on v6.

[2020-02-04 07:57] imperugo commented on #219
@dmytrohridin just pushed and update into branch [v6](/imperugo/StackExchange.Redis.Extensions/tree/v6) following your suggestion.

[2020-02-12 07:31] cycbluesky commented on #211
I also encounted the same issue and built a vesion using StackExchange.Redis 2.0.519 myself.

[2020-03-10 14:51] imperugo commented on #211
The 6.0.2-pre available on nuget is using the 2.0.519

[2020-03-11 07:38] camistein commented on #205
@imperugo will this bug be part of the bugfixing in v6? :)

[2020-03-11 07:55] imperugo commented on #205
Hi @camistein
@msmolka wrote that the key prefix is ignored into the `IRedisCacheClient` but it doesn't look to me.

See here:
https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisCacheClient.cs#L64

Could you give me more information about the problem?
Thanks

[2020-03-11 08:59] msmolka commented on #205
`Db0` till `Db16` properties ignores keyPrefix, they alway assume no keyprefix.

[2020-03-11 09:52] camistein commented on #205
What @msmolka said. We can call method GetDbFromConfiguration() and prefix works for configured database but it would be nice to be able to use the properties cacheClient.db0 (to 16) with working keyprefix but right now the props are called with : public IRedisDatabase Db0 => GetDb(0); which results in keyPrefix = null in  IRedisDatabase GetDb(int dbNumber, string keyPrefix = null).

[2020-03-11 10:00] imperugo commented on #205
Ok, gotta.

Going to update v6, ping you later today

[2020-03-11 12:43] msmolka commented on #219
When removing Async are you planning to make async right and make sure all Async methods have
`ConfigureAwait(false)` setup to avoid deadlocks in ASP.NET MVC or other synchronous environment?
https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

[2020-03-11 12:56] imperugo commented on #205
6.0.3-pre is on nuget.

Let me know

[2020-03-11 13:33] imperugo commented on #219
@msmolka just pushed an update with the ConfigureAwait(false)

[2020-03-11 13:42] imperugo commented on #207
@msmolka that's not a problem with this library, you shouldn't use redis into a MVC view

[2020-03-11 13:42] #207 closed

[2020-03-11 13:43] imperugo commented on #193
Let's try the 6.0.4-pre that has configureAwait(true) everywhere.

Thanks

[2020-03-11 13:43] #193 closed

[2020-03-11 21:13] imperugo commented on #189
Closing this because is merged

[2020-03-11 21:13] #189 closed

[2020-03-11 21:14] imperugo commented on #205
Closing this. Please feel free to open it again (or a new one) in case the 6.0.3 doest't fix your problem

[2020-03-11 21:14] #205 closed

[2020-03-11 21:15] imperugo commented on #211
Closing this.
Please use the 6.0.2-pre in order to have the right version of StackExchange.Redis

[2020-03-11 21:15] #211 closed

[2020-03-11 21:16] imperugo commented on #218
Closing this.

The code is into on the v6 available on nuget as preview package

[2020-03-11 21:16] #218 closed

[2020-03-11 21:17] imperugo commented on #216
Closing this.
@dmytrohridin answer sounds good to me

[2020-03-11 21:17] #216 closed

[2020-03-11 21:18] imperugo commented on #213
Going to close this issue because it is not a problem of this library.
The v 6.0.4-pre has a better connection pool handling, please try also this version

[2020-03-11 21:18] #213 closed

[2020-03-11 21:18] imperugo commented on #208
Going to close this issue, if you have some good code to share, I'll be happy to work on it.

Thanks

[2020-03-11 21:18] #208 closed

[2020-03-11 21:20] imperugo commented on #185
Hi.
the v 6.0.4-pre has a new connection pool implementation that invalidates and reconnects automatically in case of connection errors.

Please try it and let me know.
In the mean time I'm going to close this issue

[2020-03-11 21:20] #185 closed

[2020-03-11 21:23] imperugo commented on #197
Just pushed the v 6.0.5-pre that include the key prefix into the channel prefix.

See here https://github.com/imperugo/StackExchange.Redis.Extensions/blob/v6/src/core/StackExchange.Redis.Extensions.Core/Configuration/RedisConfiguration.cs#L251

On nuget in few minutes.

Going to close this issue. Let me know if you have problems.
Thanks

[2020-03-11 21:23] #197 closed

[2020-03-11 21:25] imperugo commented on #181
Hi.
going to close this issue. Please feel free to open a PR a new thread if needed

[2020-03-11 21:25] #181 closed

[2020-03-11 21:27] imperugo commented on #117
The v6 is using Github Actions

[2020-03-11 21:27] #117 closed

[2020-03-11 21:28] imperugo commented on #199
hi @muhamad-ahsan
sorry for the delay. I've just released the v 6 preview. Could you try this problem with this version?
Thanks

[2020-03-12 20:46] ejmarino commented on #197
Thanks! I'll check it out.

[2020-03-13 09:48] msmolka commented on #206
@imperugo can it be reopened? even in version v6 RedisDatabase is still internal not public

[2020-03-13 10:05] imperugo commented on #206
Just pushed v 6.0.6-pre where RedisDatabase is public instead of internal.

Thanks

[2020-03-24 05:45] xsoheilalizadeh commented on #219
As far as the [`RedisDatabase`][1] is an internal class, we aren't able to inject it.

[1]:https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/Implementations/RedisDatabase.cs#L14

[2020-03-24 08:48] imperugo commented on #219
Hi @xsoheilalizadeh
as you can see here https://github.com/imperugo/StackExchange.Redis.Extensions/blob/v6/src/core/StackExchange.Redis.Extensions.Core/Implementations/RedisDatabase.cs it is not internal. Your link is not based on v6 branch.

Thanks

[2020-03-24 09:22] xsoheilalizadeh commented on #219
Thanks, currently I'm using lastest preview seems it's not merged yet.

[2020-03-25 21:35] glikoz opened #236 "Multiple Get (Different Types) without a round-trip"
**Is your feature request related to a problem? Please describe.**
I want to get different objects without a rond-trip
cacheClient.Db0.GetAll<User>(new {"user:1","user:2","user:3"});
cacheClient.Db0.GetAll<Classroom>(new {"classroom:1","classroom:2","classroom:3"});

**Describe the solution you'd like**
How can I get all without a round-trip

**Describe alternatives you've considered**

**Addition

[2020-03-26 11:06] imperugo commented on #236
Hi @glikoz
the current implementation of GetAll doesn't support different type, it means all the object returned from the method must be the same type.

What you need requires a new implementation.

[2020-03-27 10:31] wesley-pattison commented on #219
Will there will be netstandard2.1 support or only netcoreapp3.1?

[2020-03-28 16:46] imperugo commented on #219
Hi @wesley-pattison
right now is netstandard2.0, net461, net472 (here the code https://github.com/imperugo/StackExchange.Redis.Extensions/blob/master/src/StackExchange.Redis.Extensions.Core/StackExchange.Redis.Extensions.Core.csproj#L3)

[2020-03-30 22:00] arteny commented on #182
Why it is too extremely difficult to configure when for original StackExcange.Redis it is configurable just with one connection string? Could you provide more simple configuration and its example for console application?

[2020-04-01 12:06] imperugo commented on #182
Hi @arteny
as already explained in this discussion readable and environment configurations are the reason why we are using a structured json instead a connections string.
Moreover we have different parameters that are not available in StackExchange.Redis connection string (connection pools for example).
Also in this thread there is a fallback that allows you to use the connection string, you just

[2020-04-09 12:58] fqureshi9 opened #243 "Redis Connection Events"
Dear All,

I would like to ask if there is a way to subscribe to the connection events that are offered via the raw StackExchange.Redis library.

My scenario is unique that i dont have Sentinnel available so i am using the events to establish connection to my backup Redis Server which will only initiate when the primary goes down. I would appreciate your help in this regards

[2020-04-12 15:03] imperugo commented on #243
Hi @fqureshi9
there is a propery ProfilingSessionProvider that allows you to register to RegisterProfiler of the multiplex.
Otherwise, if you want to catch the connection failed and other things, you can implement your own instance of `IRedisCacheConnectionPoolManager`.

If you do this, my suggestion is to start from branch v6.

[2020-04-13 19:33] fqureshi9 commented on #243
Thanks @imperugo . I will give it a shot

[2020-04-15 19:36] fqureshi9 commented on #243
@imperugo just to update that using this approach i was able to achieve this even with the current released version. Do you have any eta on the latest version that you are working on for releasing as a stable branch ? Reason i am asking is to use that for PROD or stick with the older version for now ?

[2020-04-15 19:56] imperugo commented on #243
Hi @fqureshi9 happy you achived your goal.
About the v6 the main thing is missing is the new documentation.

Here https://github.com/imperugo/StackExchange.Redis.Extensions/issues/219 there a list of what's new with v6.

For me is ready for production. There are 616 green tests and I already use it in production in several projects (moreover it is absolutely better than the v5.x).

I just need the

[2020-04-15 20:53] fqureshi9 commented on #243
@imperugo  excellent. Really appreciate your help. Will certainly use this for my next project then.
Just something which i saw in another library i.e. implementing the Tagging mechanism which i believe could be helpful. What it does is that it stores all the keys in a Set under a Tag name so this could be used in instances where i am storing objects as strings and want to get the full list or the

[2020-04-15 20:55] imperugo commented on #243
Hi @fqureshi9
could you share me an example of what you see? the library, the expected behaviour and so on.

Thanks

[2020-04-15 21:06] fqureshi9 commented on #243
Hi @imperugo  library is called CachingFramework.Redis and its available on github. It has some methods like GetObjectsByTag,GetMembersByTag,GetKeysByTag etc. So seems like his own implementation

[2020-04-15 21:17] imperugo commented on #243
I'll take a look, thanks

[2020-04-15 22:56] fqureshi9 commented on #243
@imperugo  I tried using the nuget for the latest pre version but it says i need netcore3.1. I am using that in a .NetStandard 2.0 project. Is there something that i am doing wrong ?

[2020-04-16 07:02] imperugo commented on #243
Ops, just pushed the 6.0.8 that is .net core 3.1, 3.0, .net 4.6.1, .net 4.7.2 e netstandard 2.0

[2020-04-16 13:49] fqureshi9 commented on #243
Thanks

[2020-04-19 14:14] imperugo commented on #219
Going to close this issue because v6 is out.

Thanks to all

[2020-04-19 14:14] #219 closed

[2020-04-19 14:18] imperugo commented on #199
Going to close it, because is old.
Please feel free to open a new one in case you still need support

[2020-04-19 14:18] #199 closed

[2020-04-19 14:20] imperugo opened #245 "Implement GeoSpatial Indexes"

[2020-04-19 14:20] imperugo opened #246 "Implement a tagging mechanism"

[2020-04-19 14:22] imperugo opened #247 "Now all operation are using the key prefix"
Not all methods are using the key prefix.
Probably the best thing is to create an helper that normalize the redis key in order to be compliant with the configuration

[2020-04-19 14:24] imperugo commented on #243
The RTM is out on nuget .

Going to close this issue.
Thanks

[2020-04-19 14:24] #243 closed

[2020-04-22 21:14] EugeneKrapivin commented on #175
why? its a 6yo outdated library

[2020-04-22 21:23] EugeneKrapivin commented on #236
I don't see a way to return multiple types (unknown) types from the method, only if we return an `object` which the user should be able to safely cast to back to a `Type` he passed as part of a `MultiGet` request of sorts

[2020-04-22 21:28] EugeneKrapivin commented on #246
Drawing on ideas from this [blog post](https://www.compose.com/articles/how-to-handle-tagged-data-with-redis-sets/), it could be easily implemented by creating a "reverse index" with sets with key being "tag:<TA_NAME>" and value being the data key.

this way looking for which records are tagged by some tag would be just returning a set of values under the key "tag:<TA_NAME>"

[2020-04-22 22:19] imperugo commented on #236
Hi @EugeneKrapivin it depends on what you need with these method.
If you call `GetAllAsync<T>(string[] keys]` it supposes that all returned items must be the type of T, and it does exactly this right now.

If I call something like  `GetAllAsync` where :

- Key 1 is typeof(T)
- Key 2 is typeof(K)
- Key 3 is typeof(W)

and so on. You could handle this.
Of course there are several side effects (i.e.

[2020-04-23 06:47] imperugo commented on #246
Hi @dmytrohridin
take a look to what @EugeneKrapivin is suggesting.

[2020-04-23 06:49] imperugo commented on #175
is the json format changed in the last 6 years?

The advantage of this library is that you can include the `.cs` file into you library and you have a json serialiation without dependencies.

I'm not saying this is the best way, just this could be an option.

[2020-04-23 07:43] dmytrohridin commented on #246
Hello guys,
Thank you, I've already seen this post and the main idea is okay.
The most tricky part is when you need to get objects by tag, but one object stored under hash and another under string set.
I believe that soon I will prepare some draft PR

[2020-04-23 15:05] EugeneKrapivin commented on #246
I have a POC for tagging a simple key and a test for it. Going to create a separate `IDatabase.Tags.cs` with some convinience methods for setting tags and scaning for tags.
@dmytrohridin not sure I understood your scenario, care to elaborate?

[2020-04-23 15:16] dmytrohridin commented on #246
@EugeneKrapivin
Let imagine that you have ```User``` object. You save one user with
https://redis.io/commands/set and add tag ```tag:user```. Then you save another user with
https://redis.io/commands/hset and add ```tag:user```
then you need to return all users bu ```user``` tag.
The first user will return easily because with tag you set only key, but second user require not key only but hesh fiel

[2020-04-23 15:34] dmytrohridin commented on #246
or we are going to support currently tags only for ```SET``` command?
Or we will have separate groups for ```SET```, ```HSET```, ```SADD``` operations?
In other worlds - ```GetByTag``` method will not be able to return ```string``` and ```hash``` objects?

[2020-04-23 15:55] dmytrohridin commented on #246
@EugeneKrapivin actually if you have some POC maybe create some draft PR and will see.
Thank you